In [1]:
import sys
sys.path.append(r"C:\Users\ort\OneDrive - Statistisk sentralbyrå\Dokumenter\GitHub")

from kommfylk import * #midlr. wildcard import

import geopandas as gpd
import pandas as pd

### kommuner_fra_api()

In [25]:
kommuneliste = kommuner_fra_api()
print(kommuneliste)

['0301', '1101', '1103', '1106', '1108', '1111', '1112', '1114', '1119', '1120', '1121', '1122', '1124', '1127', '1130', '1133', '1134', '1135', '1144', '1145', '1146', '1149', '1151', '1160', '1505', '1506', '1507', '1511', '1514', '1515', '1516', '1517', '1520', '1525', '1528', '1531', '1532', '1535', '1539', '1547', '1554', '1557', '1560', '1563', '1566', '1573', '1576', '1577', '1578', '1579', '1804', '1806', '1811', '1812', '1813', '1815', '1816', '1818', '1820', '1822', '1824', '1825', '1826', '1827', '1828', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1845', '1848', '1851', '1853', '1856', '1857', '1859', '1860', '1865', '1866', '1867', '1868', '1870', '1871', '1874', '1875', '3001', '3002', '3003', '3004', '3005', '3006', '3007', '3011', '3012', '3013', '3014', '3015', '3016', '3017', '3018', '3019', '3020', '3021', '3022', '3023', '3024', '3025', '3026', '3027', '3028', '3029', '3030', '3031', '3032', '3033', '3034', '3035', '3036', '3037', '3038', '3039', '3040', '3041', '3042', '3043', '3044', '3045', '3046', '3047', '3048', '3049', '3050', '3051', '3052', '3053', '3054', '3401', '3403', '3405', '3407', '3411', '3412', '3413', '3414', '3415', '3416', '3417', '3418', '3419', '3420', '3421', '3422', '3423', '3424', '3425', '3426', '3427', '3428', '3429', '3430', '3431', '3432', '3433', '3434', '3435', '3436', '3437', '3438', '3439', '3440', '3441', '3442', '3443', '3446', '3447', '3448', '3449', '3450', '3451', '3452', '3453', '3454', '3801', '3802', '3803', '3804', '3805', '3806', '3807', '3808', '3811', '3812', '3813', '3814', '3815', '3816', '3817', '3818', '3819', '3820', '3821', '3822', '3823', '3824', '3825', '4201', '4202', '4203', '4204', '4205', '4206', '4207', '4211', '4212', '4213', '4214', '4215', '4216', '4217', '4218', '4219', '4220', '4221', '4222', '4223', '4224', '4225', '4226', '4227', '4228', '4601', '4602', '4611', '4612', '4613', '4614', '4615', '4616', '4617', '4618', '4619', '4620', '4621', '4622', '4623', '4624', '4625', '4626', '4627', '4628', '4629', '4630', '4631', '4632', '4633', '4634', '4635', '4636', '4637', '4638', '4639', '4640', '4641', '4642', '4643', '4644', '4645', '4646', '4647', '4648', '4649', '4650', '4651', '5001', '5006', '5007', '5014', '5020', '5021', '5022', '5025', '5026', '5027', '5028', '5029', '5031', '5032', '5033', '5034', '5035', '5036', '5037', '5038', '5041', '5042', '5043', '5044', '5045', '5046', '5047', '5049', '5052', '5053', '5054', '5055', '5056', '5057', '5058', '5059', '5060', '5061', '5401', '5402', '5403', '5404', '5405', '5406', '5411', '5412', '5413', '5414', '5415', '5416', '5417', '5418', '5419', '5420', '5421', '5422', '5423', '5424', '5425', '5426', '5427', '5428', '5429', '5430', '5432', '5433', '5434', '5435', '5436', '5437', '5438', '5439', '5440', '5441', '5442', '5443', '5444']

In [30]:
kommuneliste = kommuner_fra_api(1995)
print(kommuneliste)

['0101', '0104', '0105', '0106', '0111', '0118', '0119', '0121', '0122', '0123', '0124', '0125', '0127', '0128', '0135', '0136', '0137', '0138', '0211', '0213', '0214', '0215', '0216', '0217', '0219', '0220', '0221', '0226', '0227', '0228', '0229', '0230', '0231', '0233', '0234', '0235', '0236', '0237', '0238', '0239', '0301', '0402', '0403', '0412', '0415', '0417', '0418', '0419', '0420', '0423', '0425', '0426', '0427', '0428', '0429', '0430', '0432', '0434', '0436', '0437', '0438', '0439', '0441', '0501', '0502', '0511', '0512', '0513', '0514', '0515', '0516', '0517', '0519', '0520', '0521', '0522', '0528', '0529', '0532', '0533', '0534', '0536', '0538', '0540', '0541', '0542', '0543', '0544', '0545', '0602', '0604', '0605', '0612', '0615', '0616', '0617', '0618', '0619', '0620', '0621', '0622', '0623', '0624', '0625', '0626', '0627', '0628', '0631', '0632', '0633', '0701', '0702', '0704', '0706', '0709', '0711', '0713', '0714', '0716', '0718', '0719', '0720', '0722', '0723', '0728', '0805', '0806', '0807', '0811', '0814', '0815', '0817', '0819', '0821', '0822', '0826', '0827', '0828', '0829', '0830', '0831', '0833', '0834', '0901', '0904', '0906', '0911', '0912', '0914', '0919', '0926', '0928', '0929', '0935', '0937', '0938', '0940', '0941', '1001', '1002', '1003', '1004', '1014', '1017', '1018', '1021', '1026', '1027', '1029', '1032', '1034', '1037', '1046', '1101', '1102', '1103', '1106', '1111', '1112', '1114', '1119', '1120', '1121', '1122', '1124', '1127', '1129', '1130', '1133', '1134', '1135', '1141', '1142', '1144', '1145', '1146', '1149', '1151', '1154', '1201', '1211', '1214', '1216', '1219', '1221', '1222', '1223', '1224', '1227', '1228', '1231', '1232', '1233', '1234', '1235', '1238', '1241', '1242', '1243', '1244', '1245', '1246', '1247', '1251', '1252', '1253', '1256', '1259', '1260', '1263', '1264', '1265', '1266', '1401', '1411', '1412', '1413', '1416', '1417', '1418', '1419', '1420', '1421', '1422', '1424', '1426', '1428', '1429', '1430', '1431', '1432', '1433', '1438', '1439', '1441', '1443', '1444', '1445', '1449', '1502', '1503', '1504', '1511', '1514', '1515', '1516', '1517', '1519', '1520', '1523', '1524', '1525', '1526', '1528', '1529', '1531', '1532', '1534', '1535', '1539', '1543', '1545', '1546', '1547', '1548', '1551', '1554', '1556', '1557', '1560', '1563', '1566', '1567', '1569', '1571', '1572', '1573', '1601', '1612', '1613', '1617', '1620', '1621', '1622', '1624', '1627', '1630', '1632', '1633', '1634', '1635', '1636', '1638', '1640', '1644', '1648', '1653', '1657', '1662', '1663', '1664', '1665', '1702', '1703', '1711', '1714', '1717', '1718', '1719', '1721', '1723', '1724', '1725', '1729', '1736', '1738', '1739', '1740', '1742', '1743', '1744', '1748', '1749', '1750', '1751', '1755', '1804', '1805', '1811', '1812', '1813', '1815', '1816', '1818', '1820', '1822', '1824', '1825', '1826', '1827', '1828', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1845', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1856', '1857', '1859', '1860', '1865', '1866', '1867', '1868', '1870', '1871', '1874', '1901', '1902', '1911', '1913', '1915', '1917', '1919', '1920', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1931', '1933', '1936', '1938', '1939', '1940', '1941', '1942', '1943', '2002', '2003', '2004', '2011', '2012', '2014', '2015', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2027', '2028', '2030']

In [4]:
kommuner_fra_api(2022, navn=True)

    KOMMUNENR               NAVN
0        0301               Oslo
1        1101          Eigersund
2        1103          Stavanger
3        1106          Haugesund
4        1108            Sandnes
..        ...                ...
351      5440           Berlevåg
352      5441      Deatnu - Tana
353      5442  Unjárga - Nesseby
354      5443          Båtsfjord
355      5444       Sør-Varanger

[356 rows x 2 columns]

In [5]:
kommuner_fra_api(2022, navn=True, utvalg=5)

    KOMMUNENR        NAVN
56       1816   Vevelstad
6        1112        Lund
124      3037      Hurdal
145      3407      Gjøvik
191      3804  Sandefjord

### fylker_fra_api()

In [6]:
fylker_fra_api(navn=True)

   FYLKE                                               NAVN
0     03                                               Oslo
1     11                                           Rogaland
2     15                                    Møre og Romsdal
3     18                              Nordland - Nordlánnda
4     30                                              Viken
5     34                                          Innlandet
6     38                               Vestfold og Telemark
7     42                                              Agder
8     46                                           Vestland
9     50                            Trøndelag - Trööndelage
10    54  Troms og Finnmark - Romsa ja Finnmárku - Troms...

### kommunenavn() og fylkesnavn()

In [7]:
kommunenavn("0301")

'Oslo'

In [8]:
# godtar også tall og gamle kommunenumre (alle må være fra samme år)
kommunenavn([301, 402.000, "0101"])

['Oslo', 'Kongsvinger', 'Halden']

In [9]:
# man får feilmelding hvis man oppgir både aar og en kommune som ikke finnes det året
try:
    kommunenavn(["0301", "0101"], aar=2022)
except KeyError as e:
    print("KeyError: " + str(e))

KeyError: '0101'

In [10]:
fylkesnavn([3, 5])

['Oslo', 'Oppland']

In [40]:
kommuneordbok = kommunenavn()

#bruker enumerate for å ikke printe alt
for i, (kommnr, kommnavn) in enumerate(kommuneordbok.items()):

    print("nr:", kommnr, "- navn:", kommnavn)

    if i==5:
        break

nr: 0301 - navn: Oslo
nr: 1101 - navn: Eigersund
nr: 1103 - navn: Stavanger
nr: 1106 - navn: Haugesund
nr: 1108 - navn: Sandnes
nr: 1111 - navn: Sokndal

In [42]:
kommuneordbok["3401"]

'Kongsvinger'

Hvis man har en tabell med kommunenumre og vil ha navn:

In [13]:
df = pd.DataFrame({"KOMMUNENR": kommuner_fra_api()})

df["KOMMUNENAVN"] = df.KOMMUNENR.map(kommunenavn())

df["FYLKESNAVN"] = df.KOMMUNENR.str[:2].map(fylkesnavn())

df

    KOMMUNENR        KOMMUNENAVN         FYLKESNAVN
0        0301               Oslo               Oslo
1        1101          Eigersund           Rogaland
2        1103          Stavanger           Rogaland
3        1106          Haugesund           Rogaland
4        1108            Sandnes           Rogaland
..        ...                ...                ...
351      5440           Berlevåg  Troms og Finnmark
352      5441      Deatnu - Tana  Troms og Finnmark
353      5442  Unjárga - Nesseby  Troms og Finnmark
354      5443          Båtsfjord  Troms og Finnmark
355      5444       Sør-Varanger  Troms og Finnmark

[356 rows x 3 columns]

In [14]:
fylkesnavn(samisk=True)

{'03': 'Oslo',
 '11': 'Rogaland',
 '15': 'Møre og Romsdal',
 '18': 'Nordland - Nordlánnda',
 '30': 'Viken',
 '34': 'Innlandet',
 '38': 'Vestfold og Telemark',
 '42': 'Agder',
 '46': 'Vestland',
 '50': 'Trøndelag - Trööndelage',
 '54': 'Troms og Finnmark - Romsa ja Finnmárku - Tromssa ja Finmarkku'}

### kommunenummer() og fylkesnummer() er likt bare motsatt

In [41]:
kommunenummer("kongsvinger")

'3401'

In [16]:
fylkesnummer("Kongsvinger", 2012)

'04'

In [17]:
fylkesnummer(["oslo", "kONGSvingER"])

['03', '34']

In [18]:
fylkesnummer(["Oslo", "Kongsvinger"], 2012)

['03', '04']

### nabokommuner()

In [19]:
nabokommuner("0301")

['0213', '0229', '0217', '0219', '0605', '0230', '0231', '0233', '0533']

In [28]:
nabodict = nabokommuner()

for kommnr, naboer in nabodict.items():
    print("komm:", kommnr, "- naboer:", naboer)

komm: 0101 - naboer: ['0105', '0128', '0118']
komm: 0104 - naboer: ['0136', '0137', '0211']
komm: 0105 - naboer: ['0101', '0106', '0135', '0128', '0137', '0127']
komm: 0106 - naboer: ['0105', '0135']
komm: 0111 - naboer: []
komm: 0118 - naboer: ['0101', '0128', '0119']
komm: 0119 - naboer: ['0128', '0125', '0221', '0118', '0121']
komm: 0121 - naboer: ['0221', '0119']
komm: 0122 - naboer: ['0125', '0124', '0123', '0229', '0221', '0227']
komm: 0123 - naboer: ['0137', '0127', '0124', '0138', '0122', '0229']
komm: 0124 - naboer: ['0127', '0125', '0123', '0122']
komm: 0125 - naboer: ['0128', '0119', '0127', '0124', '0122', '0221']
komm: 0127 - naboer: ['0105', '0128', '0137', '0125', '0124', '0123']
komm: 0128 - naboer: ['0101', '0105', '0119', '0127', '0125', '0118']
komm: 0135 - naboer: ['0136', '0106', '0105', '0137']
komm: 0136 - naboer: ['0135', '0137', '0104']
komm: 0137 - naboer: ['0136', '0105', '0135', '0127', '0211', '0104', '0123', '0138']
komm: 0138 - naboer: ['0137', '0211', '0123', '0214', '0213', '0229']
komm: 0211 - naboer: ['0137', '0104', '0215', '0138', '0214']
komm: 0213 - naboer: ['0138', '0214', '0229', '0217', '0301']
komm: 0214 - naboer: ['0215', '0211', '0138', '0213', '0217']
komm: 0215 - naboer: ['0211', '0216', '0214']
komm: 0216 - naboer: ['0215']
komm: 0217 - naboer: ['0214', '0213', '0301']
komm: 0219 - naboer: ['0220', '0626', '0612', '0301', '0605']
komm: 0220 - naboer: ['0627', '0626', '0219']
komm: 0221 - naboer: ['0119', '0125', '0122', '0227', '0226', '0236', '0121', '0420']
komm: 0226 - naboer: ['0221', '0227', '0231', '0234', '0235', '0236']
komm: 0227 - naboer: ['0122', '0229', '0221', '0228', '0226', '0231']
komm: 0228 - naboer: ['0229', '0227', '0230', '0231']
komm: 0229 - naboer: ['0123', '0138', '0122', '0213', '0227', '0228', '0230', '0301']
komm: 0230 - naboer: ['0229', '0228', '0301', '0231']
komm: 0231 - naboer: ['0227', '0228', '0230', '0226', '0301', '0234', '0233']
komm: 0233 - naboer: ['0301', '0231', '0234', '0238', '0533']
komm: 0234 - naboer: ['0226', '0231', '0233', '0235', '0238']
komm: 0235 - naboer: ['0226', '0234', '0236', '0238', '0237']
komm: 0236 - naboer: ['0221', '0226', '0235', '0420', '0419', '0418', '0237']
komm: 0237 - naboer: ['0235', '0236', '0418', '0238', '0239', '0417', '0528']
komm: 0238 - naboer: ['0234', '0233', '0235', '0534', '0533', '0237', '0239']
komm: 0239 - naboer: ['0534', '0238', '0237', '0528', '0529']
komm: 0301 - naboer: ['0213', '0229', '0217', '0219', '0605', '0230', '0231', '0233', '0533']
komm: 0402 - naboer: ['0420', '0419', '0423']
komm: 0403 - naboer: ['0417', '0415', '0412', '0429']
komm: 0412 - naboer: ['0502', '0501', '0521', '0430', '0417', '0528', '0403', '0429']
komm: 0415 - naboer: ['0426', '0427', '0417', '0403', '0429']
komm: 0417 - naboer: ['0418', '0425', '0426', '0237', '0528', '0415', '0412', '0403']
komm: 0418 - naboer: ['0236', '0419', '0423', '0425', '0237', '0417']
komm: 0419 - naboer: ['0236', '0420', '0402', '0423', '0418']
komm: 0420 - naboer: ['0236', '0221', '0402', '0419']
komm: 0423 - naboer: ['0402', '0419', '0418', '0425']
komm: 0425 - naboer: ['0423', '0418', '0426', '0417']
komm: 0426 - naboer: ['0425', '0427', '0417', '0415', '0428']
komm: 0427 - naboer: ['0426', '0415', '0429', '0428']
komm: 0428 - naboer: ['0432', '0426', '0429', '0427', '0434']
komm: 0429 - naboer: ['0415', '0412', '0403', '0430', '0432', '0427', '0428']
komm: 0430 - naboer: ['0412', '0520', '0519', '0439', '0429', '0521', '0432', '0438']
komm: 0432 - naboer: ['0429', '0430', '0438', '0436', '0437', '0428', '0434']
komm: 0434 - naboer: ['0432', '0436', '0441', '0428', '1640']
komm: 0436 - naboer: ['0432', '0437', '0441', '0434']
komm: 0437 - naboer: ['0439', '1634', '0432', '0438', '0436', '0441', '1648', '1635']
komm: 0438 - naboer: ['0439', '0430', '0432', '0437']
komm: 0439 - naboer: ['0519', '0517', '0511', '1634', '0430', '0438', '0437']
komm: 0441 - naboer: ['0436', '0437', '1648', '0434', '1640', '1644']
komm: 0501 - naboer: ['0502', '0538', '0522', '0521', '0412']
komm: 0502 - naboer: ['0536', '0538', '0501', '0528', '0529', '0412']
komm: 0511 - naboer: ['0515', '0517', '0439', '1634', '0512']
komm: 0512 - naboer: ['0511', '1634', '0515', '0514', '0513', '1539', '1543', '1563']
komm: 0513 - naboer: ['1426', '1449', '1525', '0514', '0512', '1524', '1539']
komm: 0514 - naboer: ['0545', '1426', '0515', '0513', '0512']
komm: 0515 - naboer: ['0545', '0544', '0516', '0517', '0511', '0514', '0512']
komm: 0516 - naboer: ['0544', '0515', '0519', '0517']
komm: 0517 - naboer: ['0515', '0519', '0516', '0511', '0439']
komm: 0519 - naboer: ['0544', '0522', '0520', '0516', '0517', '0439', '0430']
komm: 0520 - naboer: ['0522', '0519', '0521', '0430']
komm: 0521 - naboer: ['0412', '0501', '0522', '0520', '0430']
komm: 0522 - naboer: ['0544', '0538', '0542', '0501', '0520', '0519', '0521']
komm: 0528 - naboer: ['0502', '0237', '0239', '0417', '0529', '0412']
komm: 0529 - naboer: ['0534', '0536', '0502', '0239', '0528']
komm: 0532 - naboer: ['0605', '0534', '0533']
komm: 0533 - naboer: ['0301', '0233', '0532', '0605', '0534', '0238']
komm: 0534 - naboer: ['0238', '0532', '0605', '0536', '0533', '0239', '0529']
komm: 0536 - naboer: ['0605', '0534', '0540', '0502', '0538', '0529']
komm: 0538 - naboer: ['0540', '0536', '0502', '0541', '0542', '0501', '0522']
komm: 0540 - naboer: ['0617', '0616', '0605', '0615', '0536', '0538', '0541', '0542']
komm: 0541 - naboer: ['0540', '0538', '0542']
komm: 0542 - naboer: ['0617', '0618', '0543', '0544', '0540', '0538', '0541', '0522']
komm: 0543 - naboer: ['0618', '0542', '0545', '0544']
komm: 0544 - naboer: ['0542', '0543', '0545', '0515', '0522', '0519', '0516']
komm: 0545 - naboer: ['0618', '0543', '1422', '0544', '1424', '1426', '0515', '0514']
komm: 0602 - naboer: ['0714', '0713', '0711', '0625', '0626']
komm: 0604 - naboer: ['0811', '0728', '0806', '0822', '0714', '0624', '0807', '0631']
komm: 0605 - naboer: ['0219', '0623', '0612', '0301', '0622', '0532', '0534', '0615', '0540', '0536', '0533']
komm: 0612 - naboer: ['0626', '0219', '0623', '0605']
komm: 0615 - naboer: ['0633', '0616', '0621', '0622', '0605', '0540']
komm: 0616 - naboer: ['0633', '0619', '0615', '0540', '0617']
komm: 0617 - naboer: ['0619', '0618', '0542', '0616', '0540']
komm: 0618 - naboer: ['0619', '0617', '0542', '0543', '1422', '0545']
komm: 0619 - naboer: ['0633', '0616', '0620', '0617', '0618', '1422']
komm: 0620 - naboer: ['1232', '1233', '1421', '0633', '0619', '1422']
komm: 0621 - naboer: ['0624', '0623', '0631', '0632', '0633', '0622', '0615']
komm: 0622 - naboer: ['0623', '0621', '0605', '0615']
komm: 0623 - naboer: ['0624', '0625', '0626', '0612', '0621', '0622', '0605']
komm: 0624 - naboer: ['0714', '0604', '0625', '0626', '0623', '0621', '0631']
komm: 0625 - naboer: ['0714', '0602', '0624', '0626', '0623']
komm: 0626 - naboer: ['0627', '0602', '0624', '0625', '0220', '0219', '0623', '0612']
komm: 0627 - naboer: ['0628', '0220', '0626']
komm: 0628 - naboer: ['0627']
komm: 0631 - naboer: ['0807', '0826', '0632', '0604', '0624', '0621']
komm: 0632 - naboer: ['0631', '0826', '0633', '0621']
komm: 0633 - naboer: ['0834', '1231', '1232', '0826', '0632', '0616', '0620', '0619', '0621', '0615']
komm: 0701 - naboer: ['0704', '0716']
komm: 0702 - naboer: ['0716', '0714', '0713']
komm: 0704 - naboer: ['0710', '0701', '0716']
komm: 0709 - naboer: ['0805', '0710', '0811', '0728']
komm: 0710 - naboer: ['0709', '0704', '0728', '0716']
komm: 0711 - naboer: ['0713', '0602']
komm: 0713 - naboer: ['0702', '0714', '0711', '0602']
komm: 0714 - naboer: ['0728', '0716', '0702', '0713', '0604', '0602', '0624', '0625']
komm: 0716 - naboer: ['0710', '0704', '0728', '0701', '0702', '0714']
komm: 0722 - naboer: ['0723']
komm: 0723 - naboer: ['0722']
komm: 0728 - naboer: ['0709', '0710', '0811', '0716', '0714', '0604']
komm: 0805 - naboer: ['0709', '0811', '0806']
komm: 0806 - naboer: ['0814', '0817', '0819', '0822', '0805', '0811', '0604']
komm: 0807 - naboer: ['0822', '0821', '0604', '0828', '0827', '0631', '0826']
komm: 0811 - naboer: ['0805', '0709', '0728', '0806', '0604']
komm: 0814 - naboer: ['0815', '0817', '0806']
komm: 0815 - naboer: ['0901', '0911', '0814', '0817']
komm: 0817 - naboer: ['0815', '0911', '0814', '0830', '0806', '0819', '0829']
komm: 0819 - naboer: ['0817', '0806', '0822', '0829', '0821', '0828']
komm: 0821 - naboer: ['0819', '0822', '0829', '0828', '0807']
komm: 0822 - naboer: ['0806', '0819', '0821', '0604', '0807']
komm: 0826 - naboer: ['0834', '0828', '0807', '0827', '0631', '0632', '0633']
komm: 0827 - naboer: ['0828', '0807', '0826']
komm: 0828 - naboer: ['0834', '0819', '0829', '0821', '0833', '0807', '0827', '0826']
komm: 0829 - naboer: ['0830', '0817', '0831', '0819', '0821', '0833', '0828']
komm: 0830 - naboer: ['0912', '0929', '0911', '0817', '0831', '0829']
komm: 0831 - naboer: ['0929', '0938', '0940', '0830', '0829', '0833']
komm: 0833 - naboer: ['0940', '0941', '0834', '0831', '0829', '0828']
komm: 0834 - naboer: ['0941', '1134', '1228', '1231', '1232', '0833', '0828', '0826', '0633']
komm: 0901 - naboer: ['0914', '0912', '0815', '0911']
komm: 0904 - naboer: ['0926', '0928', '0906', '0919']
komm: 0906 - naboer: ['0904', '0919', '0914']
komm: 0911 - naboer: ['0901', '0912', '0815', '0830', '0817']
komm: 0912 - naboer: ['0914', '0901', '0929', '0911', '0830']
komm: 0914 - naboer: ['0906', '0919', '0901', '0912', '0929']
komm: 0919 - naboer: ['0904', '0928', '0906', '0914', '0929', '0937', '0938']
komm: 0926 - naboer: ['1001', '0904', '0928']
komm: 0928 - naboer: ['1001', '1014', '0926', '0904', '0919', '0935', '0937']
komm: 0929 - naboer: ['0919', '0914', '0912', '0938', '0830', '0831']
komm: 0935 - naboer: ['1014', '0928', '0937']
komm: 0937 - naboer: ['1021', '1014', '1027', '0928', '0919', '0935', '1026', '0938']
komm: 0938 - naboer: ['0919', '0929', '1037', '0937', '1026', '1046', '0940', '0831']
komm: 0940 - naboer: ['0938', '1046', '0941', '0831', '0833']
komm: 0941 - naboer: ['1046', '0940', '1133', '1134', '1129', '0834', '0833']
komm: 1001 - naboer: ['1018', '1017', '1014', '0926', '0928']
komm: 1002 - naboer: ['1018', '1029', '1021']
komm: 1003 - naboer: ['1032', '1037']
komm: 1004 - naboer: ['1111', '1112', '1037', '1046']
komm: 1014 - naboer: ['1001', '1017', '1021', '0935', '0928', '0937']
komm: 1017 - naboer: ['1018', '1001', '1021', '1014']
komm: 1018 - naboer: ['1002', '1001', '1017', '1021']
komm: 1021 - naboer: ['1002', '1018', '1029', '1017', '1014', '1027', '0937']
komm: 1026 - naboer: ['1027', '1034', '1037', '0937', '0938']
komm: 1027 - naboer: ['1029', '1032', '1021', '1034', '0937', '1026']
komm: 1029 - naboer: ['1002', '1032', '1021', '1027']
komm: 1032 - naboer: ['1029', '1003', '1027', '1034', '1037']
komm: 1034 - naboer: ['1032', '1027', '1037', '1026']
komm: 1037 - naboer: ['1003', '1032', '1004', '1034', '1026', '0938', '1046']
komm: 1046 - naboer: ['1004', '1112', '1101', '1114', '1122', '1037', '0938', '0940', '0941', '1129']
komm: 1101 - naboer: ['1111', '1112', '1119', '1114', '1046']
komm: 1102 - naboer: ['1121', '1120', '1122', '1124', '1103']
komm: 1103 - naboer: ['1102', '1124', '1127']
komm: 1106 - naboer: ['1149', '1146', '1216']
komm: 1111 - naboer: ['1004', '1112', '1101']
komm: 1112 - naboer: ['1004', '1111', '1101', '1046']
komm: 1114 - naboer: ['1101', '1119', '1121', '1122', '1046']
komm: 1119 - naboer: ['1101', '1114', '1121', '1120']
komm: 1120 - naboer: ['1119', '1121', '1102', '1124']
komm: 1121 - naboer: ['1119', '1114', '1120', '1122', '1102']
komm: 1122 - naboer: ['1114', '1121', '1102', '1046', '1129']
komm: 1124 - naboer: ['1120', '1102', '1103']
komm: 1127 - naboer: ['1103']
komm: 1129 - naboer: ['1122', '1046', '1133', '0941', '1130']
komm: 1130 - naboer: ['1133', '1129']
komm: 1133 - naboer: ['0941', '1134', '1129', '1130', '1141']
komm: 1134 - naboer: ['1133', '0941', '1160', '1211', '1135', '0834', '1228']
komm: 1135 - naboer: ['1211', '1134', '1228']
komm: 1141 - naboer: ['1133']
komm: 1142 - naboer: []
komm: 1144 - naboer: []
komm: 1145 - naboer: []
komm: 1146 - naboer: ['1149', '1106', '1160', '1216']
komm: 1149 - naboer: ['1146', '1106']
komm: 1151 - naboer: []
komm: 1160 - naboer: ['1146', '1216', '1211', '1134']
komm: 1201 - naboer: ['1243', '1242', '1251']
komm: 1211 - naboer: ['1160', '1224', '1134', '1135', '1228']
komm: 1216 - naboer: ['1146', '1106', '1160']
komm: 1219 - naboer: []
komm: 1221 - naboer: ['1222', '1223']
komm: 1222 - naboer: ['1221']
komm: 1223 - naboer: ['1221']
komm: 1224 - naboer: ['1211', '1228', '1231', '1227', '1238', '1241']
komm: 1227 - naboer: ['1224', '1231']
komm: 1228 - naboer: ['1211', '1224', '1134', '1135', '0834', '1231']
komm: 1231 - naboer: ['1224', '0834', '1228', '1227', '1232', '1234', '1233', '0633']
komm: 1232 - naboer: ['0834', '1231', '1233', '0633', '0620']
komm: 1233 - naboer: ['1231', '1232', '1234', '1235', '0620', '1421']
komm: 1234 - naboer: ['1231', '1238', '1233', '1235']
komm: 1235 - naboer: ['1238', '1234', '1233', '1251', '1421', '1417']
komm: 1238 - naboer: ['1224', '1234', '1235', '1241', '1242', '1251']
komm: 1241 - naboer: ['1224', '1238', '1242']
komm: 1242 - naboer: ['1238', '1241', '1243', '1201', '1251']
komm: 1243 - naboer: ['1201', '1242']
komm: 1244 - naboer: []
komm: 1245 - naboer: ['1246']
komm: 1246 - naboer: ['1245', '1259']
komm: 1247 - naboer: []
komm: 1251 - naboer: ['1238', '1201', '1242', '1253', '1252', '1235', '1417']
komm: 1252 - naboer: ['1251', '1263', '1266', '1416', '1417']
komm: 1253 - naboer: ['1251']
komm: 1256 - naboer: []
komm: 1259 - naboer: ['1246']
komm: 1260 - naboer: ['1263']
komm: 1263 - naboer: ['1260', '1264', '1266', '1252']
komm: 1264 - naboer: ['1263']
komm: 1265 - naboer: []
komm: 1266 - naboer: ['1263', '1252', '1411', '1416']
komm: 1401 - naboer: ['1445', '1433', '1438']
komm: 1411 - naboer: ['1266', '1416']
komm: 1412 - naboer: ['1413']
komm: 1413 - naboer: ['1416', '1412', '1429']
komm: 1416 - naboer: ['1266', '1252', '1411', '1417', '1418', '1430', '1413', '1429']
komm: 1417 - naboer: ['1251', '1252', '1235', '1421', '1416']
komm: 1418 - naboer: ['1420', '1430', '1432', '1416']
komm: 1419 - naboer: ['1420']
komm: 1420 - naboer: ['1426', '1419', '1418', '1432', '1431']
komm: 1421 - naboer: ['1233', '1422', '0620', '1235', '1417']
komm: 1422 - naboer: ['0619', '0618', '0545', '1424', '0620', '1421']
komm: 1424 - naboer: ['1422', '0545', '1426']
komm: 1426 - naboer: ['0545', '1424', '1420', '1431', '1449', '0514', '0513']
komm: 1428 - naboer: ['1430', '1432']
komm: 1429 - naboer: ['1430', '1416', '1413']
komm: 1430 - naboer: ['1418', '1432', '1416', '1429', '1428']
komm: 1431 - naboer: ['1426', '1420', '1432', '1445', '1449', '1433']
komm: 1432 - naboer: ['1418', '1420', '1430', '1431', '1428', '1433']
komm: 1433 - naboer: ['1432', '1431', '1445', '1401']
komm: 1438 - naboer: ['1445', '1401']
komm: 1439 - naboer: ['1511', '1441', '1443']
komm: 1441 - naboer: ['1439', '1511']
komm: 1443 - naboer: ['1439', '1449', '1444', '1519', '1511']
komm: 1444 - naboer: ['1449', '1443', '1519', '1525', '1520']
komm: 1445 - naboer: ['1431', '1449', '1433', '1401', '1438']
komm: 1449 - naboer: ['1426', '1431', '1445', '1443', '1444', '1525', '0513']
komm: 1502 - naboer: ['1547', '1543', '1557', '1548']
komm: 1504 - naboer: ['1531', '1529']
komm: 1505 - naboer: []
komm: 1511 - naboer: ['1439', '1441', '1443', '1519']
komm: 1514 - naboer: ['1515']
komm: 1515 - naboer: ['1516', '1514']
komm: 1516 - naboer: ['1515', '1517']
komm: 1517 - naboer: ['1516']
komm: 1519 - naboer: ['1443', '1444', '1511', '1520']
komm: 1520 - naboer: ['1444', '1519', '1525', '1528']
komm: 1523 - naboer: ['1526', '1529', '1535']
komm: 1524 - naboer: ['1525', '0513', '1526', '1539']
komm: 1525 - naboer: ['1449', '1444', '1520', '1528', '1526', '0513', '1524']
komm: 1526 - naboer: ['1525', '1528', '1523', '1535', '1524', '1539']
komm: 1528 - naboer: ['1525', '1520', '1526']
komm: 1529 - naboer: ['1523', '1504', '1535', '1534']
komm: 1531 - naboer: ['1504']
komm: 1532 - naboer: []
komm: 1534 - naboer: ['1529', '1535']
komm: 1535 - naboer: ['1526', '1523', '1529', '1534', '1539']
komm: 1539 - naboer: ['1535', '0513', '0512', '1524', '1526', '1543']
komm: 1543 - naboer: ['0512', '1539', '1563', '1502', '1557']
komm: 1545 - naboer: []
komm: 1546 - naboer: []
komm: 1547 - naboer: ['1502', '1548']
komm: 1548 - naboer: ['1502', '1547', '1557', '1551']
komm: 1551 - naboer: ['1557', '1548']
komm: 1554 - naboer: []
komm: 1557 - naboer: ['1543', '1502', '1548', '1551']
komm: 1560 - naboer: ['1563']
komm: 1563 - naboer: ['1634', '0512', '1543', '1566', '1560']
komm: 1566 - naboer: ['1634', '1563', '1567', '1612', '1571']
komm: 1567 - naboer: ['1566', '1634', '1635', '1636', '1638', '1612']
komm: 1571 - naboer: ['1612', '1566']
komm: 1573 - naboer: []
komm: 1576 - naboer: ['1612']
komm: 1601 - naboer: ['1653', '1662', '1663', '1664']
komm: 1612 - naboer: ['1566', '1567', '1638', '1613', '1571', '1576']
komm: 1613 - naboer: ['1638', '1612', '1622']
komm: 1617 - naboer: []
komm: 1620 - naboer: []
komm: 1621 - naboer: ['1627']
komm: 1622 - naboer: ['1638', '1613']
komm: 1624 - naboer: ['1718', '1724', '1630', '1627']
komm: 1627 - naboer: ['1624', '1621', '1630']
komm: 1630 - naboer: ['1624', '1724', '1632', '1627', '1725']
komm: 1632 - naboer: ['1630', '1633', '1725']
komm: 1633 - naboer: ['1632', '1749', '1725']
komm: 1634 - naboer: ['0511', '0439', '0437', '0512', '1563', '1566', '1635', '1567']
komm: 1635 - naboer: ['0437', '1648', '1634', '1567', '1636']
komm: 1636 - naboer: ['1648', '1653', '1635', '1567', '1638']
komm: 1638 - naboer: ['1653', '1567', '1636', '1657', '1612', '1613', '1622']
komm: 1640 - naboer: ['0441', '0434', '1644', '1665']
komm: 1644 - naboer: ['0441', '1648', '1664', '1640', '1665']
komm: 1648 - naboer: ['0437', '0441', '1664', '1653', '1635', '1636', '1644']
komm: 1653 - naboer: ['1648', '1664', '1636', '1657', '1638', '1662', '1601']
komm: 1657 - naboer: ['1653', '1638']
komm: 1662 - naboer: ['1653', '1663', '1601', '1664']
komm: 1663 - naboer: ['1662', '1601', '1664', '1714']
komm: 1664 - naboer: ['1648', '1653', '1644', '1665', '1711', '1714', '1662', '1663', '1601']
komm: 1665 - naboer: ['1664', '1640', '1644', '1711']
komm: 1702 - naboer: ['1756', '1724', '1721', '1736', '1725', '1703', '1744']
komm: 1703 - naboer: ['1702', '1725', '1744', '1748']
komm: 1711 - naboer: ['1664', '1665', '1714', '1719', '1721']
komm: 1714 - naboer: ['1664', '1663', '1711', '1719', '1721']
komm: 1717 - naboer: ['1719']
komm: 1718 - naboer: ['1624', '1756', '1724']
komm: 1719 - naboer: ['1717', '1711', '1714', '1721']
komm: 1721 - naboer: ['1756', '1711', '1714', '1719', '1702', '1736']
komm: 1724 - naboer: ['1624', '1718', '1756', '1630', '1702', '1725']
komm: 1725 - naboer: ['1724', '1630', '1632', '1633', '1749', '1702', '1703']
komm: 1736 - naboer: ['1721', '1702', '1738', '1744', '1742']
komm: 1738 - naboer: ['1736', '1742', '1740', '1739']
komm: 1739 - naboer: ['1738', '1742', '1740', '1825', '1826']
komm: 1740 - naboer: ['1738', '1742', '1743', '1739', '1811', '1825']
komm: 1742 - naboer: ['1736', '1738', '1744', '1743', '1740', '1739']
komm: 1743 - naboer: ['1744', '1742', '1748', '1740', '1751', '1811']
komm: 1744 - naboer: ['1702', '1736', '1703', '1742', '1748', '1743']
komm: 1748 - naboer: ['1703', '1744', '1743', '1751']
komm: 1749 - naboer: ['1633', '1725']
komm: 1750 - naboer: []
komm: 1751 - naboer: ['1748', '1743', '1755', '1811']
komm: 1755 - naboer: ['1751', '1811']
komm: 1756 - naboer: ['1718', '1724', '1721', '1702']
komm: 1804 - naboer: ['1838', '1840', '1839', '1841', '1845']
komm: 1805 - naboer: ['1854', '1853', '1913', '1919', '1920', '1922']
komm: 1811 - naboer: ['1743', '1740', '1751', '1755', '1812', '1813', '1825']
komm: 1812 - naboer: ['1811', '1813']
komm: 1813 - naboer: ['1811', '1812', '1825', '1816', '1824']
komm: 1815 - naboer: []
komm: 1816 - naboer: ['1813', '1824']
komm: 1818 - naboer: ['1827']
komm: 1820 - naboer: ['1822']

In [21]:
nabokommuner("0301", 2022)

['0213', '0229', '0217', '0219', '0605', '0230', '0231', '0233', '0533']

### del_i_kommuner() og del_i_fylker()

In [22]:
gdf = gpd.read_parquet(r"C:\Users\ort\OneDrive - Statistisk sentralbyrå\data\veger_oslo_og_naboer2.parquet")
gdf = gdf[["streetname", "geometry"]].sample(1000)
gdf

                 streetname                                           geometry
1442500     Oluf Onsums vei  MULTILINESTRING Z ((264997.831 6647512.153 128...
1444985          Skogbakken  MULTILINESTRING Z ((263337.588 6646221.396 43....
1210166      Fjellstadveien  MULTILINESTRING Z ((275656.500 6628647.200 145...
1462977        Olasrudveien  MULTILINESTRING Z ((266483.800 6642492.900 164...
1257719      Nittedalsveien  MULTILINESTRING Z ((272529.548 6657797.148 208...
...                     ...                                                ...
195588           Myllavegen  MULTILINESTRING Z ((259606.840 6687956.190 384...
1407497               Rv226  MULTILINESTRING Z ((279366.611 6657711.958 188...
1192296          Ringsveien  MULTILINESTRING Z ((254117.000 6649587.700 45....
1439080  Vestre Holmenfaret  MULTILINESTRING Z ((258430.591 6653374.355 124...
1426851        Brobekkveien  MULTILINESTRING Z ((266737.880 6652402.216 142...

[1000 rows x 2 columns]

In [23]:
gdf_kommunedelt = del_i_kommuner(gdf)
gdf_kommunedelt.sample(10)

,streetname,KOMMUNENR,geometry
25,Larsbråtveien,0301,"LINESTRING Z (268559.003 6649388.939 207.035, ..."
84,Inga Bjørnsons vei,0301,"LINESTRING Z (272868.697 6654843.298 202.236, ..."
361,Lundveien,0301,"LINESTRING Z (265568.692 6647892.565 133.721, ..."
158,Gamle Bygdevei,0301,"LINESTRING Z (266224.498 6642921.200 143.319, ..."
421,Uelands gate,0301,"LINESTRING Z (262566.300 6651799.690 61.890, 2..."
915,Ellingsrudveien,0213,"LINESTRING Z (266246.240 6626580.950 144.577, ..."
12,Langsetveien,0301,"LINESTRING Z (265200.050 6655234.790 210.570, ..."
360,Lillevannsveien,0301,"LINESTRING Z (257903.895 6654904.597 273.018, ..."
338,Karl Staaffs vei,0301,"LINESTRING Z (266131.800 6649830.900 99.762, 2..."
27,Birger Olivers vei,0301,"LINESTRING Z (264628.397 6644924.957 133.796, ..."

In [24]:
gdf_kommunedelt_og_fylkedelt = del_i_fylker(gdf_kommunedelt)
gdf_kommunedelt_og_fylkedelt.sample(10)

,streetname,KOMMUNENR,FYLKE,geometry
878,Delebekken,0213,02,"LINESTRING Z (269036.900 6638100.000 175.862, ..."
780,Rv226,0231,02,"LINESTRING Z (279373.989 6657693.982 187.288, ..."
329,Havnehagan,0301,03,"LINESTRING Z (262772.003 6654074.757 135.171, ..."
270,Lindebergåsen,0301,03,"LINESTRING Z (269790.098 6650634.204 177.827, ..."
394,Sørkedalsveien,0301,03,"LINESTRING Z (258348.000 6652835.900 99.957, 2..."
553,E18,0301,03,"LINESTRING Z (258319.425 6650479.948 3.100, 25..."
686,Gjønneshagen,0219,02,"LINESTRING Z (252806.790 6650271.800 51.281, 2..."
137,Karihaugveien,0301,03,"LINESTRING Z (270894.660 6651677.210 165.598, ..."
593,Hartmanns vei,0219,03,"LINESTRING Z (256031.089 6651107.843 80.099, 2..."
983,Råstadbakka,0533,05,"LINESTRING Z (257361.799 6693652.142 315.280, ..."