In [1]:
import sys
sys.path.append(r"C:\Users\ort\OneDrive - Statistisk sentralbyr친\Dokumenter\GitHub")

from kommfylk import (
    kommuner_fra_api, fylker_fra_api, 
    kommunenavn, fylkesnavn, 
    kommunenummer, fylkesnummer, 
    nabokommuner, 
    del_i_kommuner, del_i_fylker
    )

import geopandas as gpd
import pandas as pd

### kommuner_fra_api()

In [28]:
kommuneliste = kommuner_fra_api()

print(kommuneliste)

['0301', '1101', '1103', '1106', '1108', '1111', '1112', '1114', '1119', '1120', '1121', '1122', '1124', '1127', '1130', '1133', '1134', '1135', '1144', '1145', '1146', '1149', '1151', '1160', '1505', '1506', '1507', '1511', '1514', '1515', '1516', '1517', '1520', '1525', '1528', '1531', '1532', '1535', '1539', '1547', '1554', '1557', '1560', '1563', '1566', '1573', '1576', '1577', '1578', '1579', '1804', '1806', '1811', '1812', '1813', '1815', '1816', '1818', '1820', '1822', '1824', '1825', '1826', '1827', '1828', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1845', '1848', '1851', '1853', '1856', '1857', '1859', '1860', '1865', '1866', '1867', '1868', '1870', '1871', '1874', '1875', '3001', '3002', '3003', '3004', '3005', '3006', '3007', '3011', '3012', '3013', '3014', '3015', '3016', '3017', '3018', '3019', '3020', '3021', '3022', '3023', '3024', '3025', '3026', '3027', '3028', '3029', '3030', '3031', '3032', '3033', '3034', '3035', '3036', '3037', '3038', '3039', '3040', '3041', '3042', '3043', '3044', '3045', '3046', '3047', '3048', '3049', '3050', '3051', '3052', '3053', '3054', '3401', '3403', '3405', '3407', '3411', '3412', '3413', '3414', '3415', '3416', '3417', '3418', '3419', '3420', '3421', '3422', '3423', '3424', '3425', '3426', '3427', '3428', '3429', '3430', '3431', '3432', '3433', '3434', '3435', '3436', '3437', '3438', '3439', '3440', '3441', '3442', '3443', '3446', '3447', '3448', '3449', '3450', '3451', '3452', '3453', '3454', '3801', '3802', '3803', '3804', '3805', '3806', '3807', '3808', '3811', '3812', '3813', '3814', '3815', '3816', '3817', '3818', '3819', '3820', '3821', '3822', '3823', '3824', '3825', '4201', '4202', '4203', '4204', '4205', '4206', '4207', '4211', '4212', '4213', '4214', '4215', '4216', '4217', '4218', '4219', '4220', '4221', '4222', '4223', '4224', '4225', '4226', '4227', '4228', '4601', '4602', '4611', '4612', '4613', '4614', '4615', '4616', '4617', '4618', '4619', '4620', '4621', '4622', '4623', '4624', '4625', '4626', '4627', '4628', '4629', '4630', '4631', '4632', '4633', '4634', '4635', '4636', '4637', '4638', '4639', '4640', '4641', '4642', '4643', '4644', '4645', '4646', '4647', '4648', '4649', '4650', '4651', '5001', '5006', '5007', '5014', '5020', '5021', '5022', '5025', '5026', '5027', '5028', '5029', '5031', '5032', '5033', '5034', '5035', '5036', '5037', '5038', '5041', '5042', '5043', '5044', '5045', '5046', '5047', '5049', '5052', '5053', '5054', '5055', '5056', '5057', '5058', '5059', '5060', '5061', '5401', '5402', '5403', '5404', '5405', '5406', '5411', '5412', '5413', '5414', '5415', '5416', '5417', '5418', '5419', '5420', '5421', '5422', '5423', '5424', '5425', '5426', '5427', '5428', '5429', '5430', '5432', '5433', '5434', '5435', '5436', '5437', '5438', '5439', '5440', '5441', '5442', '5443', '5444']

In [3]:
kommuneliste = kommuner_fra_api(1980)

print(kommuneliste)

['0101', '0102', '0103', '0104', '0111', '0113', '0114', '0115', '0118', '0119', '0121', '0122', '0123', '0124', '0125', '0127', '0128', '0130', '0131', '0133', '0134', '0135', '0136', '0137', '0138', '0211', '0213', '0214', '0215', '0216', '0217', '0219', '0220', '0221', '0226', '0227', '0228', '0229', '0230', '0231', '0233', '0234', '0235', '0236', '0237', '0238', '0239', '0301', '0401', '0402', '0412', '0414', '0415', '0417', '0418', '0419', '0420', '0423', '0425', '0426', '0427', '0428', '0429', '0430', '0432', '0434', '0436', '0437', '0438', '0439', '0441', '0501', '0502', '0511', '0512', '0513', '0514', '0515', '0516', '0517', '0519', '0520', '0521', '0522', '0528', '0529', '0532', '0533', '0534', '0536', '0538', '0540', '0541', '0542', '0543', '0544', '0545', '0602', '0604', '0605', '0612', '0615', '0616', '0617', '0618', '0619', '0620', '0621', '0622', '0623', '0624', '0625', '0626', '0627', '0628', '0631', '0632', '0633', '0702', '0703', '0705', '0706', '0707', '0708', '0711', '0713', '0714', '0716', '0717', '0718', '0719', '0720', '0721', '0722', '0723', '0725', '0726', '0727', '0728', '0805', '0806', '0807', '0811', '0814', '0815', '0817', '0819', '0821', '0822', '0826', '0827', '0828', '0829', '0830', '0831', '0833', '0834', '0901', '0903', '0904', '0911', '0912', '0914', '0918', '0919', '0920', '0921', '0922', '0926', '0928', '0929', '0935', '0937', '0938', '0940', '0941', '1001', '1002', '1003', '1004', '1014', '1017', '1018', '1021', '1026', '1027', '1029', '1032', '1034', '1037', '1046', '1101', '1102', '1103', '1106', '1111', '1112', '1114', '1119', '1120', '1121', '1122', '1124', '1127', '1129', '1130', '1133', '1134', '1135', '1141', '1142', '1144', '1145', '1146', '1149', '1151', '1154', '1201', '1211', '1214', '1216', '1219', '1221', '1222', '1223', '1224', '1227', '1228', '1231', '1232', '1233', '1234', '1235', '1238', '1241', '1242', '1243', '1244', '1245', '1246', '1247', '1251', '1252', '1253', '1256', '1259', '1260', '1263', '1264', '1265', '1266', '1401', '1411', '1412', '1413', '1416', '1417', '1418', '1419', '1420', '1421', '1422', '1424', '1426', '1428', '1429', '1430', '1431', '1432', '1433', '1438', '1439', '1441', '1443', '1444', '1445', '1449', '1502', '1503', '1504', '1511', '1514', '1515', '1516', '1517', '1519', '1520', '1523', '1524', '1525', '1526', '1528', '1529', '1531', '1532', '1534', '1535', '1539', '1543', '1545', '1546', '1547', '1548', '1551', '1554', '1556', '1557', '1560', '1563', '1566', '1567', '1569', '1571', '1572', '1573', '1601', '1612', '1613', '1617', '1620', '1621', '1622', '1624', '1627', '1630', '1632', '1633', '1634', '1635', '1636', '1638', '1640', '1644', '1648', '1653', '1657', '1662', '1663', '1664', '1665', '1702', '1703', '1711', '1714', '1717', '1718', '1719', '1721', '1723', '1724', '1725', '1729', '1736', '1738', '1739', '1740', '1742', '1743', '1744', '1748', '1749', '1750', '1751', '1755', '1804', '1805', '1811', '1812', '1813', '1815', '1816', '1818', '1820', '1822', '1824', '1825', '1826', '1827', '1828', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1845', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1856', '1857', '1859', '1860', '1865', '1866', '1867', '1868', '1870', '1871', '1874', '1901', '1902', '1911', '1913', '1915', '1917', '1919', '1920', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1931', '1933', '1936', '1938', '1939', '1940', '1941', '1942', '1943', '2001', '2002', '2003', '2011', '2012', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2027', '2028', '2030']

In [4]:
kommuner_fra_api(2023, navn=True)

    KOMMUNENR               NAVN
0        0301               Oslo
1        1101          Eigersund
2        1103          Stavanger
3        1106          Haugesund
4        1108            Sandnes
..        ...                ...
351      5440           Berlev친g
352      5441      Deatnu - Tana
353      5442  Unj치rga - Nesseby
354      5443          B친tsfjord
355      5444       S칮r-Varanger

[356 rows x 2 columns]

In [5]:
kommuner_fra_api(2023, utvalg=5)

['4214', '1145', '3011', '1535', '1826']

### fylker_fra_api()

In [6]:
fylker_fra_api(navn=True)

   FYLKE                                               NAVN
0     03                                               Oslo
1     11                                           Rogaland
2     15                                    M칮re og Romsdal
3     18                              Nordland - Nordl치nnda
4     30                                              Viken
5     34                                          Innlandet
6     38                               Vestfold og Telemark
7     42                                              Agder
8     46                                           Vestland
9     50                            Tr칮ndelag - Tr칬칬ndelage
10    54  Troms og Finnmark - Romsa ja Finnm치rku - Troms...

In [7]:
fylker_fra_api(navn=True, samisk=False)

   FYLKE                  NAVN
0     03                  Oslo
1     11              Rogaland
2     15       M칮re og Romsdal
3     18              Nordland
4     30                 Viken
5     34             Innlandet
6     38  Vestfold og Telemark
7     42                 Agder
8     46              Vestland
9     50             Tr칮ndelag
10    54     Troms og Finnmark

### kommunenavn() og fylkesnavn()

In [8]:
kommunenavn("0301")

'Oslo'

In [9]:
# godtar ogs친 tall og gamle kommnumre (hvis ikke man spesifiserer aar)
kommunenavn(["3001", 3001, "101", 101.000])

['Halden', 'Halden', 'Halden', 'Halden']

In [10]:
fylkesnavn(["halden", 1, 30, "3001", 3001, "101", 101.000])

['Viken', '칒stfold', 'Viken', 'Viken', 'Viken', '칒stfold', '칒stfold']

In [11]:
fylkesnavn("Kongsvinger"), fylkesnavn("Kongsvinger", aar=2016)

('Innlandet', 'Hedmark')

Hvis man har en tabell med kommnumre og vil ha navn:

In [12]:
df = pd.DataFrame({"KOMMUNENR": kommuner_fra_api()})

df["KOMMUNENAVN"] = kommunenavn(df.KOMMUNENR)

df["FYLKESNAVN"] = fylkesnavn(df.KOMMUNENR)

df

    KOMMUNENR        KOMMUNENAVN         FYLKESNAVN
0        0301               Oslo               Oslo
1        1101          Eigersund           Rogaland
2        1103          Stavanger           Rogaland
3        1106          Haugesund           Rogaland
4        1108            Sandnes           Rogaland
..        ...                ...                ...
351      5440           Berlev친g  Troms og Finnmark
352      5441      Deatnu - Tana  Troms og Finnmark
353      5442  Unj치rga - Nesseby  Troms og Finnmark
354      5443          B친tsfjord  Troms og Finnmark
355      5444       S칮r-Varanger  Troms og Finnmark

[356 rows x 3 columns]

In [13]:
# hvis veldig gamle kommunenumre, tar det tid 친 loope seg tilbake hvis man ikke spesifiserer aar
df = pd.DataFrame({"KOMMUNENR": kommuner_fra_api(1980)})
df["KOMMUNENAVN"] = kommunenavn(df.KOMMUNENR, aar=1980)
df["FYLKESNAVN"] = fylkesnavn(df.KOMMUNENR, aar=1980)
df

    KOMMUNENR   KOMMUNENAVN FYLKESNAVN
0        0101        Halden    칒stfold
1        0102     Sarpsborg    칒stfold
2        0103   Fredrikstad    칒stfold
3        0104          Moss    칒stfold
4        0111        Hvaler    칒stfold
..        ...           ...        ...
449      2024      Berlev친g   Finnmark
450      2025          Tana   Finnmark
451      2027       Nesseby   Finnmark
452      2028     B친tsfjord   Finnmark
453      2030  S칮r-Varanger   Finnmark

[454 rows x 3 columns]

Returnerer dictionary hvis ikke kommune er gitt

In [14]:
kommuneordbok = kommunenavn()
kommuneordbok

{'0301': 'Oslo',
 '1101': 'Eigersund',
 '1103': 'Stavanger',
 '1106': 'Haugesund',
 '1108': 'Sandnes',
 '1111': 'Sokndal',
 '1112': 'Lund',
 '1114': 'Bjerkreim',
 '1119': 'H친',
 '1120': 'Klepp',
 '1121': 'Time',
 '1122': 'Gjesdal',
 '1124': 'Sola',
 '1127': 'Randaberg',
 '1130': 'Strand',
 '1133': 'Hjelmeland',
 '1134': 'Suldal',
 '1135': 'Sauda',
 '1144': 'Kvits칮y',
 '1145': 'Bokn',
 '1146': 'Tysv칝r',
 '1149': 'Karm칮y',
 '1151': 'Utsira',
 '1160': 'Vindafjord',
 '1505': 'Kristiansund',
 '1506': 'Molde',
 '1507': '칀lesund',
 '1511': 'Vanylven',
 '1514': 'Sande',
 '1515': 'Her칮y (M칮re og Romsdal)',
 '1516': 'Ulstein',
 '1517': 'Hareid',
 '1520': '칒rsta',
 '1525': 'Stranda',
 '1528': 'Sykkylven',
 '1531': 'Sula',
 '1532': 'Giske',
 '1535': 'Vestnes',
 '1539': 'Rauma',
 '1547': 'Aukra',
 '1554': 'Aver칮y',
 '1557': 'Gjemnes',
 '1560': 'Tingvoll',
 '1563': 'Sunndal',
 '1566': 'Surnadal',
 '1573': 'Sm칮la',
 '1576': 'Aure',
 '1577': 'Volda',
 '1578': 'Fjord',
 '1579': 'Hustadvika',
 '1804': 'Bod칮',
 '1806': 'Narvik',
 '1811': 'Bindal',
 '1812': 'S칮mna',
 '1813': 'Br칮nn칮y',
 '1815': 'Vega',
 '1816': 'Vevelstad',
 '1818': 'Her칮y (Nordland)',
 '1820': 'Alstahaug',
 '1822': 'Leirfjord',
 '1824': 'Vefsn',
 '1825': 'Grane',
 '1826': 'Aarborte - Hattfjelldal',
 '1827': 'D칮nna',
 '1828': 'Nesna',
 '1832': 'Hemnes',
 '1833': 'Rana',
 '1834': 'Lur칮y',
 '1835': 'Tr칝na',
 '1836': 'R칮d칮y',
 '1837': 'Mel칮y',
 '1838': 'Gildesk친l',
 '1839': 'Beiarn',
 '1840': 'Saltdal',
 '1841': 'Fauske - Fuossko',
 '1845': 'S칮rfold',
 '1848': 'Steigen',
 '1851': 'L칮dingen',
 '1853': 'Evenes - Even치코코i',
 '1856': 'R칮st',
 '1857': 'V칝r칮y',
 '1859': 'Flakstad',
 '1860': 'Vestv친g칮y',
 '1865': 'V친gan',
 '1866': 'Hadsel',
 '1867': 'B칮',
 '1868': '칒ksnes',
 '1870': 'Sortland - Suort치',
 '1871': 'And칮y',
 '1874': 'Moskenes',
 '1875': 'H치bmer - Hamar칮y',
 '3001': 'Halden',
 '3002': 'Moss',
 '3003': 'Sarpsborg',
 '3004': 'Fredrikstad',
 '3005': 'Drammen',
 '3006': 'Kongsberg',
 '3007': 'Ringerike',
 '3011': 'Hvaler',
 '3012': 'Aremark',
 '3013': 'Marker',
 '3014': 'Indre 칒stfold',
 '3015': 'Skiptvet',
 '3016': 'Rakkestad',
 '3017': 'R친de',
 '3018': 'V친ler (Viken)',
 '3019': 'Vestby',
 '3020': 'Nordre Follo',
 '3021': '칀s',
 '3022': 'Frogn',
 '3023': 'Nesodden',
 '3024': 'B칝rum',
 '3025': 'Asker',
 '3026': 'Aurskog-H칮land',
 '3027': 'R칝lingen',
 '3028': 'Enebakk',
 '3029': 'L칮renskog',
 '3030': 'Lillestr칮m',
 '3031': 'Nittedal',
 '3032': 'Gjerdrum',
 '3033': 'Ullensaker',
 '3034': 'Nes',
 '3035': 'Eidsvoll',
 '3036': 'Nannestad',
 '3037': 'Hurdal',
 '3038': 'Hole',
 '3039': 'Fl친',
 '3040': 'Nesbyen',
 '3041': 'Gol',
 '3042': 'Hemsedal',
 '3043': '칀l',
 '3044': 'Hol',
 '3045': 'Sigdal',
 '3046': 'Kr칮dsherad',
 '3047': 'Modum',
 '3048': '칒vre Eiker',
 '3049': 'Lier',
 '3050': 'Flesberg',
 '3051': 'Rollag',
 '3052': 'Nore og Uvdal',
 '3053': 'Jevnaker',
 '3054': 'Lunner',
 '3401': 'Kongsvinger',
 '3403': 'Hamar',
 '3405': 'Lillehammer',
 '3407': 'Gj칮vik',
 '3411': 'Ringsaker',
 '3412': 'L칮ten',
 '3413': 'Stange',
 '3414': 'Nord-Odal',
 '3415': 'S칮r-Odal',
 '3416': 'Eidskog',
 '3417': 'Grue',
 '3418': '칀snes',
 '3419': 'V친ler (Innlandet)',
 '3420': 'Elverum',
 '3421': 'Trysil',
 '3422': '칀mot',
 '3423': 'Stor-Elvdal',
 '3424': 'Rendalen',
 '3425': 'Engerdal',
 '3426': 'Tolga',
 '3427': 'Tynset',
 '3428': 'Alvdal',
 '3429': 'Folldal',
 '3430': 'Os',
 '3431': 'Dovre',
 '3432': 'Lesja',
 '3433': 'Skj친k',
 '3434': 'Lom',
 '3435': 'V친g친',
 '3436': 'Nord-Fron',
 '3437': 'Sel',
 '3438': 'S칮r-Fron',
 '3439': 'Ringebu',
 '3440': '칒yer',
 '3441': 'Gausdal',
 '3442': '칒stre Toten',
 '3443': 'Vestre Toten',
 '3446': 'Gran',
 '3447': 'S칮ndre Land',
 '3448': 'Nordre Land',
 '3449': 'S칮r-Aurdal',
 '3450': 'Etnedal',
 '3451': 'Nord-Aurdal',
 '3452': 'Vestre Slidre',
 '3453': '칒ystre Slidre',
 '3454': 'Vang',
 '3801': 'Horten',
 '3802': 'Holmestrand',
 '3803': 'T칮nsberg',
 '3804': 'Sandefjord',
 '3805': 'Larvik',
 '3806': 'Porsgrunn',
 '3807': 'Skien',
 '3808': 'Notodden',
 '3811': 'F칝rder',
 '3812': 'Siljan',
 '3813': 'Bamble',
 '3814': 'Krager칮',
 '3815': 'Drangedal',
 '3816': 'Nome',
 '3817': 'Midt-Telemark',
 '3818': 'Tinn',
 '3819': 'Hjartdal',
 '3820': 'Seljord',
 '3821': 'Kviteseid',
 '3822': 'Nissedal',
 '3823': 'Fyresdal',
 '3824': 'Tokke',
 '3825': 'Vinje',
 '4201': 'Ris칮r',
 '4202': 'Grimstad',
 '4203': 'Arendal',
 '4204': 'Kristiansand',
 '4205': 'Lindesnes',
 '4206': 'Farsund',
 '4207': 'Flekkefjord',
 '4211': 'Gjerstad',
 '4212': 'Veg친rshei',
 '4213': 'Tvedestrand',
 '4214': 'Froland',
 '4215': 'Lillesand',
 '4216': 'Birkenes',
 '4217': '칀mli',
 '4218': 'Iveland',
 '4219': 'Evje og Hornnes',
 '4220': 'Bygland',
 '4221': 'Valle',
 '4222': 'Bykle',
 '4223': 'Vennesla',
 '4224': '칀seral',
 '4225': 'Lyngdal',
 '4226': 'H칝gebostad',
 '4227': 'Kvinesdal',
 '4228': 'Sirdal',
 '4601': 'Bergen',
 '4602': 'Kinn',
 '4611': 'Etne',
 '4612': 'Sveio',
 '4613': 'B칮mlo',
 '4614': 'Stord',
 '4615': 'Fitjar',
 '4616': 'Tysnes',
 '4617': 'Kvinnherad',
 '4618': 'Ullensvang',
 '4619': 'Eidfjord',
 '4620': 'Ulvik',
 '4621': 'Voss',
 '4622': 'Kvam',
 '4623': 'Samnanger',
 '4624': 'Bj칮rnafjorden',
 '4625': 'Austevoll',
 '4626': '칒ygarden',
 '4627': 'Ask칮y',
 '4628': 'Vaksdal',
 '4629': 'Modalen',
 '4630': 'Oster칮y',
 '4631': 'Alver',
 '4632': 'Austrheim',
 '4633': 'Fedje',
 '4634': 'Masfjorden',
 '4635': 'Gulen',
 '4636': 'Solund',
 '4637': 'Hyllestad',
 '4638': 'H칮yanger',
 '4639': 'Vik',
 '4640': 'Sogndal',
 '4641': 'Aurland',
 '4642': 'L칝rdal',
 '4643': '칀rdal',
 '4644': 'Luster',
 '4645': 'Askvoll',
 '4646': 'Fjaler',
 '4647': 'Sunnfjord',
 '4648': 'Bremanger',
 '4649': 'Stad',
 '4650': 'Gloppen',
 '4651': 'Stryn',
 '5001': 'Trondheim - Tr친anten',
 '5006': 'Steinkjer',
 '5007': 'Namsos - N친avmesjenjaelmie',
 '5014': 'Fr칮ya',
 '5020': 'Osen',
 '5021': 'Oppdal',
 '5022': 'Rennebu',
 '5025': 'R칮ros - Rossen',
 '5026': 'Holt친len',
 '5027': 'Midtre Gauldal',
 '5028': 'Melhus',
 '5029': 'Skaun',
 '5031': 'Malvik',
 '5032': 'Selbu',
 '5033': 'Tydal',
 '5034': 'Mer친ker',
 '5035': 'Stj칮rdal',
 '5036': 'Frosta',
 '5037': 'Levanger',
 '5038': 'Verdal',
 '5041': 'Sn친ase - Sn친sa',
 '5042': 'Lierne',
 '5043': 'Raarvihke - R칮yrvik',
 '5044': 'Namsskogan',
 '5045': 'Grong',
 '5046': 'H칮ylandet',
 '5047': 'Overhalla',
 '5049': 'Flatanger',
 '5052': 'Leka',
 '5053': 'Inder칮y',
 '5054': 'Indre Fosen',
 '5055': 'Heim',
 '5056': 'Hitra',
 '5057': '칒rland',
 '5058': '칀fjord',
 '5059': 'Orkland',
 '5060': 'N칝r칮ysund',
 '5061': 'Rindal',
 '5401': 'Troms칮',
 '5402': 'Harstad - H치rstt치k',
 '5403': 'Alta',
 '5404': 'Vard칮',
 '5405': 'Vads칮',
 '5406': 'Hammerfest - H치mmerfeasta',
 '5411': 'Kv칝fjord',
 '5412': 'Dielddanuorri - Tjeldsund',
 '5413': 'Ibestad',
 '5414': 'Gratangen',
 '5415': 'Loab치k - Lavangen',
 '5416': 'Bardu',
 '5417': 'Salangen',
 '5418': 'M친lselv',
 '5419': 'S칮rreisa',
 '5420': 'Dyr칮y',
 '5421': 'Senja',
 '5422': 'Balsfjord',
 '5423': 'Karls칮y',
 '5424': 'Lyngen',
 '5425': 'Storfjord - Omasvuotna - Omasvuono',
 '5426': 'G치ivuotna - K친fjord - Kaivuono',
 '5427': 'Skjerv칮y',
 '5428': 'Nordreisa - R치isa - Raisi',
 '5429': 'Kv칝nangen',
 '5430': 'Guovdageaidnu - Kautokeino',
 '5432': 'Loppa',
 '5433': 'Hasvik',
 '5434': 'M친s칮y',
 '5435': 'Nordkapp',
 '5436': 'Porsanger - Pors치ngu - Porsanki',
 '5437': 'K치r치코johka - Karasjok',
 '5438': 'Lebesby',
 '5439': 'Gamvik',
 '5440': 'Berlev친g',
 '5441': 'Deatnu - Tana',
 '5442': 'Unj치rga - Nesseby',
 '5443': 'B친tsfjord',
 '5444': 'S칮r-Varanger'}

In [15]:
kommuneordbok["3401"]

'Kongsvinger'

### kommunenummer() og fylkesnummer() er likt bare motsatt

In [16]:
kommunenummer("kongsvinger")

'3401'

In [17]:
fylkesnummer(["oslo", "kONGSvingER"], 2010)

['03', '04']

In [18]:
fylkesnummer(["halden", "칮stfold", "buskerud", "viken", "drammen"])

['30', '01', '06', '30', '30']

In [19]:
try:
    fylkesnummer(["halden", "buskerud", "Viken", "drammen"], 2012)
except ValueError as e:
    print(e)

Finner ikke fylket 'Viken' i 2012

### nabokommuner()

In [20]:
# oslos nabokommuner:
nabokommuner("0301")

['3020', '3023', '3024', '3054', '3007', '3028', '3029', '3030', '3031']

In [21]:
# returnerer ordbok hvis ikke kommune oppgis
nabodict = nabokommuner()
nabodict["0301"]

['3020', '3023', '3024', '3054', '3007', '3028', '3029', '3030', '3031']

In [22]:
nabodict

{'0301': ['3020',
  '3023',
  '3024',
  '3054',
  '3007',
  '3028',
  '3029',
  '3030',
  '3031'],
 '1101': ['1111', '1112', '1119', '1114', '4228'],
 '1103': ['1133',
  '1134',
  '1124',
  '1108',
  '1130',
  '1127',
  '1144',
  '1145',
  '1146'],
 '1106': ['1149', '1146', '4612', '4613'],
 '1108': ['1121',
  '1120',
  '1122',
  '4228',
  '1133',
  '4222',
  '1124',
  '1130',
  '1103'],
 '1111': ['4207', '1101', '1112'],
 '1112': ['1111', '4207', '1101', '4228'],
 '1114': ['1101', '1119', '1121', '1122', '4228'],
 '1119': ['1101', '1114', '1121', '1120'],
 '1120': ['1119', '1121', '1124', '1108'],
 '1121': ['1119', '1114', '1120', '1122', '1108'],
 '1122': ['1114', '1121', '4228', '1108'],
 '1124': ['1120', '1108', '1127', '1144', '1103'],
 '1127': ['1124', '1144', '1103'],
 '1130': ['1133', '1108', '1103'],
 '1133': ['4222', '1134', '1108', '1130', '1103'],
 '1134': ['1133',
  '4222',
  '1135',
  '1103',
  '1146',
  '1160',
  '4611',
  '3825',
  '4618'],
 '1135': ['1134', '4611', '4618'],
 '1144': ['1124', '1127', '1103', '1145', '1149'],
 '1145': ['1144', '1103', '1149', '1146'],
 '1146': ['1134', '1103', '1145', '1149', '1106', '1160', '4612'],
 '1149': ['1144', '1145', '1151', '1146', '1106'],
 '1151': ['1149'],
 '1160': ['1134', '1146', '4612', '4611', '4614', '4617'],
 '1505': ['1557', '1560', '1576', '1573', '1554'],
 '1506': ['1535',
  '1507',
  '1547',
  '1579',
  '3432',
  '1539',
  '1563',
  '1557',
  '1560'],
 '1507': ['1578', '1520', '1528', '1531', '1535', '1532', '1547', '1506'],
 '1511': ['1577', '4649', '1514', '1515', '1516'],
 '1514': ['1511', '4649', '1515'],
 '1515': ['1577', '1511', '1514', '1516', '1532'],
 '1516': ['1577', '1511', '1515', '1520', '1517', '1532'],
 '1517': ['1520', '1516', '1531', '1532'],
 '1520': ['1577', '1525', '1528', '1517', '1516', '1531', '1507'],
 '1525': ['4651', '1577', '3433', '1578', '1520', '1528'],
 '1528': ['1525', '1578', '1520', '1531', '1507'],
 '1531': ['1520', '1528', '1517', '1532', '1507'],
 '1532': ['1515', '1517', '1516', '1531', '1507'],
 '1535': ['1578', '1507', '1539', '1506'],
 '1539': ['3433', '1578', '1535', '3432', '1506'],
 '1547': ['1507', '1506', '1579'],
 '1554': ['1557', '1505', '1579'],
 '1557': ['1506', '1560', '1505', '1579', '1554'],
 '1560': ['1506', '1563', '1566', '1557', '5055', '1505', '1576'],
 '1563': ['3432', '1506', '1566', '1560', '5021'],
 '1566': ['1563', '1560', '5055', '5021', '5061'],
 '1573': ['1505', '1576', '5056', '5014'],
 '1576': ['1560', '5055', '1505', '1573', '5056'],
 '1577': ['4651', '1511', '1525', '4649', '1515', '1520', '1516'],
 '1578': ['3433', '1525', '1528', '1535', '1507', '1539'],
 '1579': ['1506', '1557', '1547', '1554'],
 '1804': ['1839',
  '1837',
  '1838',
  '1856',
  '1857',
  '1848',
  '1874',
  '1840',
  '1841',
  '1845'],
 '1806': ['1875', '1851', '1853', '5412', '5414', '5415', '5416'],
 '1811': ['5046', '5044', '5060', '5052', '1812', '1813', '1825'],
 '1812': ['1811', '1813'],
 '1813': ['1811', '1812', '1825', '1816', '1815', '1824'],
 '1815': ['1813', '1816', '1820', '1818'],
 '1816': ['1813', '1815', '1824', '1820'],
 '1818': ['1815', '1820', '1827', '1835'],
 '1820': ['1816', '1815', '1824', '1822', '1818', '1827'],
 '1822': ['1824', '1820', '1832', '1827', '1828', '1833'],
 '1824': ['1813', '1825', '1826', '1816', '1820', '1832', '1822'],
 '1825': ['5044', '5043', '1811', '1813', '1826', '1824'],
 '1826': ['5043', '1825', '1824', '1832'],
 '1827': ['1820', '1822', '1818', '1828', '1834', '1835'],
 '1828': ['1822', '1827', '1833', '1834'],
 '1832': ['1826', '1824', '1822', '1833'],
 '1833': ['1832', '1822', '1828', '1834', '1836', '1839', '1837', '1840'],
 '1834': ['1827', '1828', '1833', '1835', '1836'],
 '1835': ['1818', '1827', '1834', '1836'],
 '1836': ['1833', '1834', '1835', '1837', '1856'],
 '1837': ['1833', '1836', '1839', '1838', '1804', '1856'],
 '1838': ['1839', '1837', '1804'],
 '1839': ['1833', '1837', '1838', '1804', '1840'],
 '1840': ['1833', '1839', '1804', '1841'],
 '1841': ['1804', '1840', '1845'],
 '1845': ['1804', '1841', '1848', '1875'],
 '1848': ['1804', '1874', '1860', '1845', '1875', '1865'],
 '1851': ['1875', '1806', '1866', '5412', '5411', '1865', '1870'],
 '1853': ['1806', '5412'],
 '1856': ['1836', '1837', '1804', '1857'],
 '1857': ['1804', '1856', '1874'],
 '1859': ['1874', '1860'],
 '1860': ['1848', '1874', '1859', '1865'],
 '1865': ['1848', '1875', '1851', '1866', '1860', '1867'],
 '1866': ['1851', '1865', '1867', '1870'],
 '1867': ['1866', '1865', '1870', '1868'],
 '1868': ['1867', '1870', '1871'],
 '1870': ['1851', '1866', '1867', '5411', '5402', '1868', '1871'],
 '1871': ['1870', '5402', '1868', '5421'],
 '1874': ['1804', '1857', '1848', '1859', '1860'],
 '1875': ['1845', '1848', '1806', '1851', '1865'],
 '3001': ['3011', '3012', '3003', '3016'],
 '3002': ['3017', '3803', '3801', '3018', '3019', '3025'],
 '3003': ['3011', '3017', '3001', '3004', '3016', '3018', '3015'],
 '3004': ['3011', '3811', '3017', '3003'],
 '3005': ['3802', '3025', '3048', '3049', '3047'],
 '3006': ['3050', '3805', '3807', '3812', '3817', '3808', '3802', '3048'],
 '3007': ['3039',
  '3024',
  '0301',
  '3047',
  '3038',
  '3046',
  '3054',
  '3053',
  '3446',
  '3449',
  '3447'],
 '3011': ['3811', '3001', '3004', '3003'],
 '3012': ['3001', '3016', '3013'],
 '3013': ['3012', '3016', '3014', '3026'],
 '3014': ['3016',
  '3018',
  '3015',
  '3013',
  '3020',
  '3028',
  '3019',
  '3021',
  '3026',
  '3030'],
 '3015': ['3003', '3016', '3018', '3014'],
 '3016': ['3001', '3012', '3003', '3015', '3013', '3014'],
 '3017': ['3811', '3803', '3002', '3004', '3003', '3018'],
 '3018': ['3017', '3002', '3003', '3015', '3014', '3019'],
 '3019': ['3002', '3018', '3014', '3021', '3025', '3022'],
 '3020': ['3014', '3028', '3021', '3022', '3023', '0301'],
 '3021': ['3014', '3020', '3019', '3022'],
 '3022': ['3021', '3020', '3019', '3025', '3023'],
 '3023': ['3020', '3025', '3022', '3024', '0301'],
 '3024': ['3025', '3023', '3049', '0301', '3038', '3007'],
 '3025': ['3002',
  '3801',
  '3019',
  '3802',
  '3022',
  '3005',
  '3023',
  '3049',
  '3024'],
 '3026': ['3013', '3014', '3030', '3034', '3416'],
 '3027': ['3028', '3029', '3030'],
 '3028': ['3014', '3020', '0301', '3027', '3029', '3030'],
 '3029': ['0301', '3028', '3027', '3030'],
 '3030': ['3014',
  '0301',
  '3028',
  '3026',
  '3027',
  '3029',
  '3032',
  '3031',
  '3033',
  '3034'],
 '3031': ['0301', '3054', '3030', '3032', '3036'],
 '3032': ['3030', '3031', '3033', '3036'],
 '3033': ['3035', '3030', '3032', '3034', '3036'],
 '3034': ['3035', '3414', '3026', '3030', '3033', '3415', '3416'],
 '3035': ['3036', '3414', '3037', '3413', '3442', '3033', '3034'],
 '3036': ['3054', '3446', '3035', '3037', '3032', '3031', '3033'],
 '3037': ['3446', '3443', '3036', '3035', '3442'],
 '3038': ['3049', '3024', '3047', '3007'],
 '3039': ['3045', '3052', '3040', '3046', '3007', '3449'],
 '3040': ['3052', '3039', '3043', '3041', '3449'],
 '3041': ['3040', '3043', '3449', '3042', '3451'],
 '3042': ['3043', '4642', '3041', '3451', '3452', '3454'],
 '3043': ['3052', '3040', '3044', '3041', '4642', '3042'],
 '3044': ['3052', '3043', '4619', '4620', '4641', '4642'],
 '3045': ['3050', '3051', '3052', '3039', '3048', '3047', '3046'],
 '3046': ['3045', '3039', '3047', '3007'],
 '3047': ['3045', '3005', '3048', '3049', '3038', '3046', '3007'],
 '3048': ['3050', '3045', '3802', '3006', '3005', '3049', '3047'],
 '3049': ['3025', '3005', '3048', '3024', '3047', '3038'],
 '3050': ['3818', '3051', '3045', '3808', '3006', '3048'],
 '3051': ['3050', '3818', '3045', '3052'],
 '3052': ['3825',
  '4618',
  '4619',
  '3818',
  '3051',
  '3045',
  '3039',
  '3040',
  '3044',
  '3043'],
 '3053': ['3054', '3007', '3446'],
 '3054': ['0301', '3053', '3007', '3446', '3036', '3031'],
 '3401': ['3415', '3416', '3417'],
 '3403': ['3413', '3412', '3411', '3422'],
 '3405': ['3411', '3407', '3448', '3441', '3440'],
 '3407': ['3442', '3411', '3443', '3447', '3448', '3405'],
 '3411': ['3407', '3405', '3440', '3413', '3442', '3403', '3422', '3423'],
 '3412': ['3413', '3403', '3422', '3419', '3420'],
 '3413': ['3035', '3414', '3442', '3412', '3411', '3403', '3418', '3419'],
 '3414': ['3035', '3413', '3034', '3415', '3417', '3418'],
 '3415': ['3414', '3034', '3416', '3401', '3417'],
 '3416': ['3026', '3034', '3415', '3401'],
 '3417': ['3415', '3414', '3401', '3418'],
 '3418': ['3414', '3413', '3417', '3419'],
 '3419': ['3413', '3412', '3418', '3420', '3421'],
 '3420': ['3412', '3422', '3419', '3421'],
 '3421': ['3424', '3422', '3419', '3420', '3425'],
 '3422': ['3412', '3411', '3403', '3423', '3424', '3420', '3421'],
 '3423': ['3411', '3422', '3440', '3439', '3438', '3429', '3424', '3428'],
 '3424': ['3422', '3423', '3428', '3426', '3427', '3421', '3425'],
 '3425': ['3424', '3426', '3430', '3421', '5025'],
 '3426': ['3424', '3427', '3430', '3425'],
 '3427': ['3424', '3428', '3426', '3430', '5027', '3429', '5021', '5022'],
 '3428': ['3423', '3424', '3427', '3429'],
 '3429': ['3423', '3428', '3427', '3438', '3437', '3431', '5021'],
 '3430': ['3426', '3427', '5026', '5027', '3425', '5025'],
 '3431': ['3435', '3432', '3437', '3429', '5021'],
 '3432': ['3435', '3434', '3433', '1539', '1506', '1563', '3431', '5021'],
 '3433': ['4644', '4651', '1525', '3434', '3432', '1578', '1539'],
 '3434': ['4644', '3454', '3435', '3433', '3432'],
 '3435': ['3454', '3453', '3434', '3432', '3436', '3437', '3431'],
 '3436': ['3453', '3435', '3438', '3437'],
 '3437': ['3435', '3438', '3436', '3431', '3429'],
 '3438': ['3441', '3453', '3423', '3439', '3436', '3437', '3429'],
 '3439': ['3441', '3440', '3423', '3438'],
 '3440': ['3411', '3405', '3441', '3439', '3423'],
 '3441': ['3448', '3405', '3440', '3439', '3451', '3453', '3438'],
 '3442': ['3443', '3407', '3035', '3037', '3413', '3411'],
 '3443': ['3037', '3442', '3446', '3447', '3407'],
 '3446': ['3054', '3053', '3007', '3036', '3037', '3443', '3447'],
 '3447': ['3007', '3446', '3443', '3449', '3407', '3448'],
 '3448': ['3449', '3447', '3407', '3450', '3405', '3441', '3451'],
 '3449': ['3039', '3040', '3041', '3007', '3447', '3448', '3450', '3451'],
 '3450': ['3449', '3448', '3451'],
 '3451': ['3041', '3042', '3452', '3453', '3449', '3448', '3450', '3441'],
 '3452': ['3042', '3451', '3454', '3453'],
 '3453': ['3441', '3451', '3452', '3454', '3435', '3438', '3436'],
 '3454': ['4642', '4644', '3042', '3452', '3453', '4643', '3435', '3434'],
 '3801': ['3803', '3002', '3802', '3025'],
 '3802': ['3805', '3803', '3801', '3006', '3025', '3005', '3048'],
 '3803': ['3801', '3811', '3804', '3805', '3017', '3002', '3802'],
 '3804': ['3805', '3811', '3803'],
 '3805': ['3814', '3813', '3804', '3806', '3803', '3812', '3802', '3006'],
 '3806': ['3813', '3805', '3807', '3812'],
 '3807': ['3813', '3806', '3815', '3816', '3812', '3817', '3006'],
 '3808': ['3050', '3818', '3817', '3820', '3819', '3006'],
 '3811': ['3011', '3804', '3017', '3803', '3004'],
 '3812': ['3806', '3805', '3807', '3006'],
 '3813': ['3814', '3806', '3805', '3815', '3807'],
 '3814': ['4201', '4211', '3813', '3805', '3815'],
 '3815': ['3814', '4211', '3813', '3822', '3807', '3816', '3821'],
 '3816': ['3815', '3807', '3817', '3821', '3820'],
 '3817': ['3807', '3816', '3821', '3820', '3808', '3006'],
 '3818': ['3819', '3050', '3051', '3052', '3825', '3820', '3808'],
 '3819': ['3818', '3820', '3808'],
 '3820': ['3824', '3818', '3825', '3816', '3817', '3821', '3808', '3819'],
 '3821': ['3823', '3824', '3822', '3815', '3816', '3817', '3820'],
 '3822': ['3823', '4212', '4217', '4211', '3815', '3821'],
 '3823': ['4220', '4221', '3824', '4217', '3822', '3821'],
 '3824': ['3823', '4221', '4222', '3825', '3821', '3820'],
 '3825': ['3824', '4222', '1134', '3818', '3052', '4618', '4619', '3820'],
 '4201': ['4213', '4212', '3814', '4211'],
 '4202': ['4215', '4216', '4214', '4203'],
 '4203': ['4214', '4202', '4213'],
 '4204': ['4215', '4205', '4223', '4216'],
 '4205': ['4204', '4225', '4223', '4219'],
 '4206': ['4225', '4227', '4207'],
 '4207': ['4227', '4206', '1111', '1112', '4228'],
 '4211': ['4201', '4212', '3814', '3822', '3815'],
 '4212': ['4213', '4201', '4217', '4211', '3822'],
 '4213': ['4214', '4203', '4201', '4212', '4217'],
 '4214': ['4216', '4219', '4220', '4202', '4203', '4213', '4217'],
 '4215': ['4204', '4216', '4202'],
 '4216': ['4204', '4215', '4223', '4218', '4214', '4219', '4202'],
 '4217': ['4214', '4220', '3823', '4213', '4212', '3822'],
 '4218': ['4223', '4216', '4219'],
 '4219': ['4205', '4225', '4223', '4216', '4218', '4214', '4224', '4220'],
 '4220': ['4214', '4227', '4219', '4224', '4228', '3823', '4221', '4217'],
 '4221': ['4220', '4228', '3823', '3824', '4222'],
 '4222': ['4228', '4221', '1133', '3824', '1134', '1108', '3825'],
 '4223': ['4204', '4205', '4216', '4218', '4219'],
 '4224': ['4225', '4226', '4227', '4219', '4220'],
 '4225': ['4205', '4226', '4227', '4219', '4206', '4224'],
 '4226': ['4225', '4227', '4224'],
 '4227': ['4225', '4226', '4206', '4207', '4224', '4220', '4228'],
 '4228': ['4227',
  '4207',
  '1101',
  '1112',
  '1114',
  '1122',
  '4220',
  '4221',
  '4222',
  '1108'],
 '4601': ['4625', '4624', '4623', '4626', '4627', '4630', '4628', '4631'],
 '4602': ['4647', '4650', '4645', '4648', '4649'],
 '4611': ['1134', '1160', '4617', '1135', '4618'],
 '4612': ['1146', '1106', '1160', '4613', '4614', '4617'],
 '4613': ['1106', '4612', '4614', '4615', '4625'],
 '4614': ['1160', '4612', '4613', '4617', '4615', '4616'],
 '4615': ['4613', '4614', '4616', '4625'],
 '4616': ['4614', '4617', '4615', '4625', '4624'],
 '4617': ['1160', '4612', '4611', '4614', '4616', '4624', '4618', '4622'],
 '4618': ['1134',
  '4611',
  '4617',
  '3052',
  '1135',
  '3825',
  '4619',
  '4622',
  '4621'],
 '4619': ['3052', '3044', '3825', '4618', '4620', '4621'],
 '4620': ['3044', '4619', '4621', '4641'],
 '4621': ['4618', '4619', '4622', '4620', '4641', '4639', '4628'],
 '4622': ['4617', '4618', '4621', '4624', '4623', '4628'],
 '4623': ['4622', '4624', '4601', '4628'],
 '4624': ['4617', '4616', '4625', '4622', '4601', '4623'],
 '4625': ['4613', '4615', '4616', '4624', '4601', '4626'],
 '4626': ['4625', '4601', '4627', '4631', '4633'],
 '4627': ['4601', '4626', '4631'],
 '4628': ['4622', '4621', '4639', '4601', '4623', '4630', '4631', '4629'],
 '4629': ['4639', '4628', '4631', '4634', '4638'],
 '4630': ['4601', '4628', '4631'],
 '4631': ['4601',
  '4626',
  '4627',
  '4630',
  '4628',
  '4634',
  '4632',
  '4629',
  '4633',
  '4635'],
 '4632': ['4631', '4633', '4635'],
 '4633': ['4626', '4631', '4632', '4635', '4636'],
 '4634': ['4631', '4629', '4638', '4635'],
 '4635': ['4631', '4634', '4632', '4633', '4636', '4637', '4638'],
 '4636': ['4633', '4635', '4637', '4646', '4645'],
 '4637': ['4635', '4636', '4646', '4638'],
 '4638': ['4629', '4634', '4639', '4640', '4647', '4635', '4637', '4646'],
 '4639': ['4621', '4641', '4629', '4642', '4628', '4638', '4640'],
 '4640': ['4642', '4639', '4638', '4643', '4644', '4647'],
 '4641': ['3044', '4620', '4621', '4642', '4639'],
 '4642': ['3044',
  '3043',
  '4641',
  '4639',
  '4643',
  '4640',
  '4644',
  '3042',
  '3454'],
 '4643': ['4642', '4640', '4644', '3454'],
 '4644': ['4642', '4643', '4640', '4647', '4651', '3454', '3434', '3433'],
 '4645': ['4636', '4646', '4602', '4647'],
 '4646': ['4636', '4637', '4645', '4638', '4647'],
 '4647': ['4638', '4640', '4644', '4650', '4651', '4646', '4645', '4602'],
 '4648': ['4602', '4649', '4650'],
 '4649': ['4648', '4602', '4650', '4651', '1577', '1511', '1514'],
 '4650': ['4647', '4651', '4602', '4648', '4649'],
 '4651': ['4644', '4647', '4650', '1577', '1525', '4649', '3433'],
 '5001': ['5032', '5028', '5029', '5059', '5031', '5036', '5054'],
 '5006': ['5054', '5053', '5058', '5038', '5041', '5007', '5047'],
 '5007': ['5058', '5020', '5049', '5006', '5047', '5046', '5060'],
 '5014': ['5057', '1573', '5056', '5058', '5020'],
 '5020': ['5058', '5014', '5007', '5049'],
 '5021': ['3432', '3427', '1563', '1566', '3431', '3429', '5022', '5061'],
 '5022': ['3427', '5027', '5021', '5061', '5059'],
 '5025': ['3430', '5026', '3425', '5033'],
 '5026': ['3430', '5027', '5032', '5025', '5033'],
 '5027': ['3427', '3430', '5026', '5032', '5028', '5022', '5059'],
 '5028': ['5027', '5032', '5001', '5029', '5059'],
 '5029': ['5028', '5001', '5059'],
 '5031': ['5035', '5032', '5001', '5036'],
 '5032': ['5026', '5027', '5028', '5001', '5031', '5035', '5033', '5034'],
 '5033': ['5026', '5032', '5025', '5034'],
 '5034': ['5032', '5035', '5037', '5033', '5038'],
 '5035': ['5032', '5031', '5036', '5037', '5034', '5038'],
 '5036': ['5001', '5031', '5035', '5054', '5037'],
 '5037': ['5035', '5036', '5054', '5053', '5034', '5038'],
 '5038': ['5035', '5037', '5053', '5034', '5006', '5041'],
 '5041': ['5038', '5006', '5042', '5047', '5045'],
 '5042': ['5041', '5045', '5044', '5043'],
 '5043': ['5042', '5045', '5044', '1825', '1826'],
 '5044': ['5042', '5045', '5046', '5043', '1811', '1825'],
 '5045': ['5041', '5042', '5047', '5046', '5044', '5043'],
 '5046': ['5007', '5047', '5045', '5044', '5060', '1811'],
 '5047': ['5006', '5041', '5007', '5045', '5046'],
 '5049': ['5007', '5020', '5060'],
 '5052': ['5060', '1811'],
 '5053': ['5054', '5037', '5038', '5006'],
 '5054': ['5059', '5057', '5001', '5036', '5037', '5053', '5058', '5006'],
 '5055': ['1566', '1560', '1576', '5061', '5059', '5056'],
 '5056': ['5055', '1576', '5059', '5057', '1573', '5014'],
 '5057': ['5059', '5056', '5014', '5054', '5058'],
 '5058': ['5057', '5054', '5020', '5014', '5006', '5007'],
 '5059': ['5022',
  '5061',
  '5028',
  '5027',
  '5001',
  '5029',
  '5057',
  '5056',
  '5054',
  '5055'],
 '5060': ['5049', '5007', '5046', '1811', '5052'],
 '5061': ['1566', '5055', '5021', '5022', '5059'],
 '5401': ['5422', '5425', '5421', '5424', '5423'],
 '5402': ['5412', '5411', '1870', '5413', '1871', '5421'],
 '5403': ['5430', '5437', '5429', '5432', '5436', '5433', '5406'],
 '5404': ['5444', '5405', '5443'],
 '5405': ['5444', '5442', '5441', '5404', '5443', '5440'],
 '5406': ['5403', '5436', '5433', '5434'],
 '5411': ['1851', '5412', '1870', '5402'],
 '5412': ['1806', '1851', '1853', '5411', '5414', '5413', '5402'],
 '5413': ['5412', '5414', '5417', '5402', '5420', '5421'],
 '5414': ['1806', '5412', '5415', '5413', '5417'],
 '5415': ['1806', '5414', '5416', '5417'],
 '5416': ['1806', '5415', '5417', '5418', '5419'],
 '5417': ['5414', '5415', '5416', '5413', '5420', '5419'],
 '5418': ['5416', '5419', '5422', '5425', '5421'],
 '5419': ['5416', '5417', '5418', '5420', '5421'],
 '5420': ['5413', '5417', '5419', '5421'],
 '5421': ['5413', '5402', '5418', '5420', '5419', '1871', '5422', '5401'],
 '5422': ['5418', '5425', '5421', '5401'],
 '5423': ['5401', '5424', '5427', '5432'],
 '5424': ['5425', '5426', '5428', '5401', '5427', '5423'],
 '5425': ['5418', '5422', '5426', '5401', '5424'],
 '5426': ['5425', '5428', '5424'],
 '5427': ['5428', '5424', '5429', '5423', '5432'],
 '5428': ['5430', '5426', '5424', '5429', '5427'],
 '5429': ['5430', '5428', '5403', '5427', '5432'],
 '5430': ['5428', '5437', '5429', '5403'],
 '5432': ['5429', '5403', '5427', '5423', '5433'],
 '5433': ['5403', '5432', '5406'],
 '5434': ['5436', '5406', '5435'],
 '5435': ['5436', '5438', '5434'],
 '5436': ['5437', '5403', '5441', '5406', '5438', '5434', '5435'],
 '5437': ['5430', '5403', '5436', '5441'],
 '5438': ['5436', '5441', '5439', '5435'],
 '5439': ['5441', '5438', '5440'],
 '5440': ['5441', '5405', '5443', '5439'],
 '5441': ['5437', '5436', '5442', '5405', '5438', '5443', '5439', '5440'],
 '5442': ['5444', '5441', '5405'],
 '5443': ['5441', '5405', '5404', '5440'],
 '5444': ['5442', '5405', '5404']}

### del_i_kommuner() og del_i_fylker()

In [24]:
gdf = gpd.read_parquet(r"C:\Users\ort\OneDrive - Statistisk sentralbyr친\data\vegdata\veger_oslo_og_naboer_2023.parquet")
gdf = gdf[["streetname", "geometry"]].sample(10).reset_index(drop=True)
gdf

,streetname,geometry
0,Hosleveien,MULTILINESTRING Z ((254298.300 6651561.200 104...
1,T칝rudstien,MULTILINESTRING Z ((278000.100 6659118.900 173...
2,Dagalistien,MULTILINESTRING Z ((259142.662 6654340.142 154...
3,Sarabr친tveien,MULTILINESTRING Z ((268115.554 6646424.359 161...
4,Munkerudveien,MULTILINESTRING Z ((265245.094 6643448.478 129...
5,Snipemyrlia,MULTILINESTRING Z ((266668.198 6638384.850 183...
6,Zahlkasserer Schafts plass,MULTILINESTRING Z ((259885.542 6650399.785 34....
7,Thurmanns gate,MULTILINESTRING Z ((262688.360 6651895.060 65....
8,Konglerudtoppen,MULTILINESTRING Z ((266509.447 6645158.805 117...
9,Prost Holms vei,MULTILINESTRING Z ((278988.900 6656720.300 157...

In [25]:
gdf_kommunedelt = del_i_kommuner(gdf)
gdf_kommunedelt

,streetname,KOMMUNENR,geometry
0,Hosleveien,3024,"LINESTRING Z (254298.300 6651561.200 104.454, ..."
1,T칝rudstien,3030,"LINESTRING Z (278000.100 6659118.900 173.188, ..."
2,Prost Holms vei,3030,"LINESTRING Z (278988.900 6656720.300 157.584, ..."
3,Dagalistien,0301,"LINESTRING Z (259142.662 6654340.142 154.872, ..."
4,Sarabr친tveien,0301,"LINESTRING Z (268115.554 6646424.359 161.580, ..."
5,Munkerudveien,0301,"LINESTRING Z (265245.094 6643448.478 129.032, ..."
6,Snipemyrlia,0301,"LINESTRING Z (266668.198 6638384.850 183.167, ..."
7,Zahlkasserer Schafts plass,0301,"LINESTRING Z (259885.542 6650399.785 34.887, 2..."
8,Thurmanns gate,0301,"LINESTRING Z (262688.360 6651895.060 65.750, 2..."
9,Konglerudtoppen,0301,"LINESTRING Z (266509.447 6645158.805 117.983, ..."

In [26]:
gdf_kommunedelt_og_fylkedelt = del_i_fylker(gdf_kommunedelt)
gdf_kommunedelt_og_fylkedelt

,streetname,KOMMUNENR,FYLKE,geometry
0,Hosleveien,3024,30,"LINESTRING Z (254298.300 6651561.200 104.454, ..."
1,T칝rudstien,3030,30,"LINESTRING Z (278000.100 6659118.900 173.188, ..."
2,Prost Holms vei,3030,30,"LINESTRING Z (278988.900 6656720.300 157.584, ..."
3,Dagalistien,0301,03,"LINESTRING Z (259142.662 6654340.142 154.872, ..."
4,Sarabr친tveien,0301,03,"LINESTRING Z (268115.554 6646424.359 161.580, ..."
5,Munkerudveien,0301,03,"LINESTRING Z (265245.094 6643448.478 129.032, ..."
6,Snipemyrlia,0301,03,"LINESTRING Z (266668.198 6638384.850 183.167, ..."
7,Zahlkasserer Schafts plass,0301,03,"LINESTRING Z (259885.542 6650399.785 34.887, 2..."
8,Thurmanns gate,0301,03,"LINESTRING Z (262688.360 6651895.060 65.750, 2..."
9,Konglerudtoppen,0301,03,"LINESTRING Z (266509.447 6645158.805 117.983, ..."