In [2]:
import sys
sys.path.append(r"C:\Users\ort\OneDrive - Statistisk sentralbyrå\Dokumenter\GitHub")

from kommfylk import * #midlr. wildcard import

import geopandas as gpd
import pandas as pd

### kommuner_fra_api()

In [3]:
kommuneliste = kommuner_fra_api()
print(kommuneliste)

['0301', '1101', '1103', '1106', '1108', '1111', '1112', '1114', '1119', '1120', '1121', '1122', '1124', '1127', '1130', '1133', '1134', '1135', '1144', '1145', '1146', '1149', '1151', '1160', '1505', '1506', '1507', '1511', '1514', '1515', '1516', '1517', '1520', '1525', '1528', '1531', '1532', '1535', '1539', '1547', '1554', '1557', '1560', '1563', '1566', '1573', '1576', '1577', '1578', '1579', '1804', '1806', '1811', '1812', '1813', '1815', '1816', '1818', '1820', '1822', '1824', '1825', '1826', '1827', '1828', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1845', '1848', '1851', '1853', '1856', '1857', '1859', '1860', '1865', '1866', '1867', '1868', '1870', '1871', '1874', '1875', '3001', '3002', '3003', '3004', '3005', '3006', '3007', '3011', '3012', '3013', '3014', '3015', '3016', '3017', '3018', '3019', '3020', '3021', '3022', '3023', '3024', '3025', '3026', '3027', '3028', '3029', '3030', '3031', '3032', '3033', '3034', '3035', '3036', '3037', '3038', '3039', '3040', '3041', '3042', '3043', '3044', '3045', '3046', '3047', '3048', '3049', '3050', '3051', '3052', '3053', '3054', '3401', '3403', '3405', '3407', '3411', '3412', '3413', '3414', '3415', '3416', '3417', '3418', '3419', '3420', '3421', '3422', '3423', '3424', '3425', '3426', '3427', '3428', '3429', '3430', '3431', '3432', '3433', '3434', '3435', '3436', '3437', '3438', '3439', '3440', '3441', '3442', '3443', '3446', '3447', '3448', '3449', '3450', '3451', '3452', '3453', '3454', '3801', '3802', '3803', '3804', '3805', '3806', '3807', '3808', '3811', '3812', '3813', '3814', '3815', '3816', '3817', '3818', '3819', '3820', '3821', '3822', '3823', '3824', '3825', '4201', '4202', '4203', '4204', '4205', '4206', '4207', '4211', '4212', '4213', '4214', '4215', '4216', '4217', '4218', '4219', '4220', '4221', '4222', '4223', '4224', '4225', '4226', '4227', '4228', '4601', '4602', '4611', '4612', '4613', '4614', '4615', '4616', '4617', '4618', '4619', '4620', '4621', '4622', '4623', '4624', '4625', '4626', '4627', '4628', '4629', '4630', '4631', '4632', '4633', '4634', '4635', '4636', '4637', '4638', '4639', '4640', '4641', '4642', '4643', '4644', '4645', '4646', '4647', '4648', '4649', '4650', '4651', '5001', '5006', '5007', '5014', '5020', '5021', '5022', '5025', '5026', '5027', '5028', '5029', '5031', '5032', '5033', '5034', '5035', '5036', '5037', '5038', '5041', '5042', '5043', '5044', '5045', '5046', '5047', '5049', '5052', '5053', '5054', '5055', '5056', '5057', '5058', '5059', '5060', '5061', '5401', '5402', '5403', '5404', '5405', '5406', '5411', '5412', '5413', '5414', '5415', '5416', '5417', '5418', '5419', '5420', '5421', '5422', '5423', '5424', '5425', '5426', '5427', '5428', '5429', '5430', '5432', '5433', '5434', '5435', '5436', '5437', '5438', '5439', '5440', '5441', '5442', '5443', '5444']

In [3]:
kommuneliste = kommuner_fra_api(1980)
print(kommuneliste)

['0101', '0102', '0103', '0104', '0111', '0113', '0114', '0115', '0118', '0119', '0121', '0122', '0123', '0124', '0125', '0127', '0128', '0130', '0131', '0133', '0134', '0135', '0136', '0137', '0138', '0211', '0213', '0214', '0215', '0216', '0217', '0219', '0220', '0221', '0226', '0227', '0228', '0229', '0230', '0231', '0233', '0234', '0235', '0236', '0237', '0238', '0239', '0301', '0401', '0402', '0412', '0414', '0415', '0417', '0418', '0419', '0420', '0423', '0425', '0426', '0427', '0428', '0429', '0430', '0432', '0434', '0436', '0437', '0438', '0439', '0441', '0501', '0502', '0511', '0512', '0513', '0514', '0515', '0516', '0517', '0519', '0520', '0521', '0522', '0528', '0529', '0532', '0533', '0534', '0536', '0538', '0540', '0541', '0542', '0543', '0544', '0545', '0602', '0604', '0605', '0612', '0615', '0616', '0617', '0618', '0619', '0620', '0621', '0622', '0623', '0624', '0625', '0626', '0627', '0628', '0631', '0632', '0633', '0702', '0703', '0705', '0706', '0707', '0708', '0711', '0713', '0714', '0716', '0717', '0718', '0719', '0720', '0721', '0722', '0723', '0725', '0726', '0727', '0728', '0805', '0806', '0807', '0811', '0814', '0815', '0817', '0819', '0821', '0822', '0826', '0827', '0828', '0829', '0830', '0831', '0833', '0834', '0901', '0903', '0904', '0911', '0912', '0914', '0918', '0919', '0920', '0921', '0922', '0926', '0928', '0929', '0935', '0937', '0938', '0940', '0941', '1001', '1002', '1003', '1004', '1014', '1017', '1018', '1021', '1026', '1027', '1029', '1032', '1034', '1037', '1046', '1101', '1102', '1103', '1106', '1111', '1112', '1114', '1119', '1120', '1121', '1122', '1124', '1127', '1129', '1130', '1133', '1134', '1135', '1141', '1142', '1144', '1145', '1146', '1149', '1151', '1154', '1201', '1211', '1214', '1216', '1219', '1221', '1222', '1223', '1224', '1227', '1228', '1231', '1232', '1233', '1234', '1235', '1238', '1241', '1242', '1243', '1244', '1245', '1246', '1247', '1251', '1252', '1253', '1256', '1259', '1260', '1263', '1264', '1265', '1266', '1401', '1411', '1412', '1413', '1416', '1417', '1418', '1419', '1420', '1421', '1422', '1424', '1426', '1428', '1429', '1430', '1431', '1432', '1433', '1438', '1439', '1441', '1443', '1444', '1445', '1449', '1502', '1503', '1504', '1511', '1514', '1515', '1516', '1517', '1519', '1520', '1523', '1524', '1525', '1526', '1528', '1529', '1531', '1532', '1534', '1535', '1539', '1543', '1545', '1546', '1547', '1548', '1551', '1554', '1556', '1557', '1560', '1563', '1566', '1567', '1569', '1571', '1572', '1573', '1601', '1612', '1613', '1617', '1620', '1621', '1622', '1624', '1627', '1630', '1632', '1633', '1634', '1635', '1636', '1638', '1640', '1644', '1648', '1653', '1657', '1662', '1663', '1664', '1665', '1702', '1703', '1711', '1714', '1717', '1718', '1719', '1721', '1723', '1724', '1725', '1729', '1736', '1738', '1739', '1740', '1742', '1743', '1744', '1748', '1749', '1750', '1751', '1755', '1804', '1805', '1811', '1812', '1813', '1815', '1816', '1818', '1820', '1822', '1824', '1825', '1826', '1827', '1828', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1845', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1856', '1857', '1859', '1860', '1865', '1866', '1867', '1868', '1870', '1871', '1874', '1901', '1902', '1911', '1913', '1915', '1917', '1919', '1920', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1931', '1933', '1936', '1938', '1939', '1940', '1941', '1942', '1943', '2001', '2002', '2003', '2011', '2012', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2027', '2028', '2030']

In [4]:
kommuner_fra_api(2022, navn=True)

    KOMMUNENR               NAVN
0        0301               Oslo
1        1101          Eigersund
2        1103          Stavanger
3        1106          Haugesund
4        1108            Sandnes
..        ...                ...
351      5440           Berlevåg
352      5441      Deatnu - Tana
353      5442  Unjárga - Nesseby
354      5443          Båtsfjord
355      5444       Sør-Varanger

[356 rows x 2 columns]

In [5]:
kommuner_fra_api(2022, navn=True, utvalg=5)

    KOMMUNENR     NAVN
55       1815     Vega
320      5404    Vardø
155      3420  Elverum
262      4635    Gulen
108      3021       Ås

### fylker_fra_api()

In [6]:
fylker_fra_api(navn=True)

   FYLKE                                               NAVN
0     03                                               Oslo
1     11                                           Rogaland
2     15                                    Møre og Romsdal
3     18                              Nordland - Nordlánnda
4     30                                              Viken
5     34                                          Innlandet
6     38                               Vestfold og Telemark
7     42                                              Agder
8     46                                           Vestland
9     50                            Trøndelag - Trööndelage
10    54  Troms og Finnmark - Romsa ja Finnmárku - Troms...

In [7]:
fylker_fra_api(navn=True, samisk=False)

   FYLKE                  NAVN
0     03                  Oslo
1     11              Rogaland
2     15       Møre og Romsdal
3     18              Nordland
4     30                 Viken
5     34             Innlandet
6     38  Vestfold og Telemark
7     42                 Agder
8     46              Vestland
9     50             Trøndelag
10    54     Troms og Finnmark

### kommunenavn() og fylkesnavn()

In [8]:
kommunenavn("0301")

'Oslo'

In [9]:
# godtar også tall og gamle kommnumre (hvis ikke man spesifiserer aar)
kommunenavn(["3001", 101, "101", 101.000])

['Halden', 'Halden', 'Halden', 'Halden']

Hvis man har en tabell med kommnumre og vil ha navn:

In [5]:
df = pd.DataFrame({"KOMMUNENR": kommuner_fra_api()})

df["KOMMUNENAVN"] = df.KOMMUNENR.kommunenavn()

df["FYLKESNAVN"] = df.KOMMUNENR.fylkesnavn()

df

    KOMMUNENR        KOMMUNENAVN         FYLKESNAVN
0        0301               Oslo               Oslo
1        1101          Eigersund           Rogaland
2        1103          Stavanger           Rogaland
3        1106          Haugesund           Rogaland
4        1108            Sandnes           Rogaland
..        ...                ...                ...
351      5440           Berlevåg  Troms og Finnmark
352      5441      Deatnu - Tana  Troms og Finnmark
353      5442  Unjárga - Nesseby  Troms og Finnmark
354      5443          Båtsfjord  Troms og Finnmark
355      5444       Sør-Varanger  Troms og Finnmark

[356 rows x 3 columns]

In [11]:
# hvis veldig gamle kommunenumre, tar det tid hvis man ikke spesifiserer aar i kommunenavn() og fylkesnavn()
df = pd.DataFrame({"KOMMUNENR": kommuner_fra_api(1980)})
df["KOMMUNENAVN"] = df.KOMMUNENR.kommunenavn(aar=1980)
df["FYLKESNAVN"] = df.KOMMUNENR.fylkesnavn(aar=1980)
df

    KOMMUNENR   KOMMUNENAVN FYLKESNAVN
0        0101        Halden    Østfold
1        0102     Sarpsborg    Østfold
2        0103   Fredrikstad    Østfold
3        0104          Moss    Østfold
4        0111        Hvaler    Østfold
..        ...           ...        ...
449      2024      Berlevåg   Finnmark
450      2025          Tana   Finnmark
451      2027       Nesseby   Finnmark
452      2028     Båtsfjord   Finnmark
453      2030  Sør-Varanger   Finnmark

[454 rows x 3 columns]

# returnerer dictionary hvis ikke kommune er gitt

In [9]:
kommuneordbok = kommunenavn()

In [16]:
# printer de fem første nøklene og verdiene i ordboka
for i, (kommnr, kommnavn) in enumerate(kommuneordbok.items()):

    print(f"'{kommnr}': '{kommnavn}'")

    if i==4:
        break

'0301': 'Oslo'
'1101': 'Eigersund'
'1103': 'Stavanger'
'1106': 'Haugesund'
'1108': 'Sandnes'

In [13]:
kommuneordbok["3401"]

'Kongsvinger'

fylkesnavn() fungerer på samme måte, men godtar også kommunenavn:

In [17]:
fylkesnavn(["Halden", "01", "0101", 101.00, "3001"])

['Viken', 'Østfold', 'Østfold', 'Østfold', 'Viken']

In [19]:
fylkesordbok = fylkesnavn()
fylkesordbok

{'03': 'Oslo',
 '11': 'Rogaland',
 '15': 'Møre og Romsdal',
 '18': 'Nordland',
 '30': 'Viken',
 '34': 'Innlandet',
 '38': 'Vestfold og Telemark',
 '42': 'Agder',
 '46': 'Vestland',
 '50': 'Trøndelag',
 '54': 'Troms og Finnmark'}

### kommunenummer() og fylkesnummer() er likt bare motsatt

In [16]:
kommunenummer("kongsvinger")

'3401'

In [17]:
fylkesnummer(["oslo", "kONGSvingER"], 2010)

['03', '04']

In [22]:
fylkesnummer(["halden", "østfold", "buskerud", "viken", "drammen"])

['30', '01', '06', '30', '30']

In [23]:
try:
    fylkesnummer(["halden", "buskerud", "Viken", "drammen"], 2012)
except ValueError as e:
    print(e)

Finner ikke fylket 'Viken' i 2012

### nabokommuner()

In [24]:
# oslos nabokommuner:
nabokommuner("0301")

['3020', '3023', '3024', '3054', '3007', '3028', '3029', '3030', '3031']

In [25]:
# returnerer ordbok hvis ikke kommune oppgis
nabodict = nabokommuner()
nabodict["0301"]

['3020', '3023', '3024', '3054', '3007', '3028', '3029', '3030', '3031']

In [27]:
# printer første fem fra ordboka
for i, (kommnr, naboer) in enumerate(nabodict.items()):

    print(kommnr, ":", naboer)

    if i==4:
        break

0301 : ['3020', '3023', '3024', '3054', '3007', '3028', '3029', '3030', '3031']
1101 : ['1111', '1112', '1119', '1114', '4228']
1103 : ['1133', '1134', '1124', '1108', '1130', '1127', '1144', '1145', '1146']
1106 : ['1149', '1146', '4612', '4613']
1108 : ['1121', '1120', '1122', '4228', '1133', '4222', '1124', '1130', '1103']

### del_i_kommuner() og del_i_fylker()

In [29]:
gdf = gpd.read_parquet(r"C:\Users\ort\OneDrive - Statistisk sentralbyrå\data\veger_oslo_og_naboer2.parquet")
gdf = gdf[["streetname", "geometry"]].sample(10)
gdf

               streetname                                           geometry
1204304   Brunskrubbveien  MULTILINESTRING Z ((272873.600 6648885.700 237...
617383        Engerkleiva  MULTILINESTRING Z ((285256.726 6650394.636 154...
1508749         Svensenga  MULTILINESTRING Z ((263887.307 6654975.720 158...
500000    St. Olavs plass  MULTILINESTRING Z ((261913.460 6649933.650 18....
849884         Ensjøveien  MULTILINESTRING Z ((264694.479 6648949.372 58....
1490298         Kirkegata  MULTILINESTRING Z ((262010.200 6648977.300 3.6...
845766   Alf Bjerckes vei  MULTILINESTRING Z ((267126.344 6650984.291 110...
818994        Tangenveien  MULTILINESTRING Z ((275699.686 6629093.896 131...
1255376    Sørumsandveien  MULTILINESTRING Z ((290178.535 6655794.116 119...
1190550     Tuterudkroken  MULTILINESTRING Z ((277510.700 6656212.500 117...

In [30]:
gdf_kommunedelt = gdf.del_i_kommuner()
gdf_kommunedelt

,streetname,KOMMUNENR,geometry
0,Brunskrubbveien,3029,"LINESTRING Z (272873.600 6648885.700 237.170, ..."
1,Engerkleiva,3030,"LINESTRING Z (285256.726 6650394.636 154.600, ..."
2,Sørumsandveien,3030,"LINESTRING Z (290178.535 6655794.116 119.469, ..."
3,Tuterudkroken,3030,"LINESTRING Z (277510.700 6656212.500 117.183, ..."
4,Svensenga,0301,"LINESTRING Z (263887.307 6654975.720 158.578, ..."
5,St. Olavs plass,0301,"LINESTRING Z (261913.460 6649933.650 18.328, 2..."
6,Ensjøveien,0301,"LINESTRING Z (264694.479 6648949.372 58.440, 2..."
7,Kirkegata,0301,"LINESTRING Z (262010.200 6648977.300 3.657, 26..."
8,Alf Bjerckes vei,0301,"LINESTRING Z (267126.344 6650984.291 110.234, ..."
9,Tangenveien,3028,"LINESTRING Z (275699.686 6629093.896 131.686, ..."

In [31]:
gdf_kommunedelt_og_fylkedelt = gdf_kommunedelt.del_i_fylker()
gdf_kommunedelt_og_fylkedelt

,streetname,KOMMUNENR,FYLKE,geometry
0,Brunskrubbveien,3029,30,"LINESTRING Z (272873.600 6648885.700 237.170, ..."
1,Engerkleiva,3030,30,"LINESTRING Z (285256.726 6650394.636 154.600, ..."
2,Sørumsandveien,3030,30,"LINESTRING Z (290178.535 6655794.116 119.469, ..."
3,Tuterudkroken,3030,30,"LINESTRING Z (277510.700 6656212.500 117.183, ..."
4,Tangenveien,3028,30,"LINESTRING Z (275699.686 6629093.896 131.686, ..."
5,Svensenga,0301,03,"LINESTRING Z (263887.307 6654975.720 158.578, ..."
6,St. Olavs plass,0301,03,"LINESTRING Z (261913.460 6649933.650 18.328, 2..."
7,Ensjøveien,0301,03,"LINESTRING Z (264694.479 6648949.372 58.440, 2..."
8,Kirkegata,0301,03,"LINESTRING Z (262010.200 6648977.300 3.657, 26..."
9,Alf Bjerckes vei,0301,03,"LINESTRING Z (267126.344 6650984.291 110.234, ..."